#lock-hook{
  display: none;
}

#alt-suggestion{
  display: none;
}

table.dataTable.table-condensed .sorting:after, 
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top:auto;
}