/* UNIVERSAL STUFF */
body {
  background-color: $background;
  color: #85868d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  overflow-y: hidden;
}

body,
html {
  overflow-x: hidden;
}

.starter-template {
    padding-bottom:0;
    padding-right: $mainPaddingSmall;
    padding-left: $mainPaddingSmall;
    padding-top: 78px;
}

.starter-template-high {
  padding: 15px;
}

.main-container {
  padding-left: 8px;
  padding-right: 8px;
  height: calc(100vh - 100px);
}

#left-panel {
  padding-right: 5px;
  font-size: 13px;
}

#left-panel .panel-heading {
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#right-panel {
  padding-left: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table > tbody > tr > td {
  padding-right: 2px;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.show-inline-1280,.show-inline-1366,.show-inline-1600,.show-inline-1920 {
  display: none !important;
}

/*support for slightly wider desktops */
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* +---------------+ */
/* |WIDTH SETTINGS| */
/* +---------------+ */
/* RESTRICTIVE CSS FOR 1024px SCREENS */


/* RESTRICTIVE CSS FOR 1200px SCREENS */
@media (min-width: 1190px) {
  .starter-template {
      padding-left: $mainPadding;
      padding-right: $mainPadding;
  }
  .table > tbody > tr > td {
      padding-left: 8px;
      padding-right: 8px;
  }
}

/* RESTRICTIVE CSS FOR 1280px SCREENS */
@media (min-width: 1270px) {
  .hide-1280 {
      display: none !important;
  }
  .show-inline-1280 {
      display: inline !important;
  }
  .show-block-1280 {
      display: block !important;
  }
}

/* RESTRICTIVE CSS FOR 1366px SCREENS */
@media (min-width: 1356px) {
  body {
      font-size: 16px;
  }
  .hide-1366 {
      display: none !important;
  }
  .show-inline-1366 {
      display: inline !important;
  }
  .show-block-1366 {
      display: block !important;
  }
}

/* RESTRICTIVE CSS FOR 1600px SCREENS */
@media (min-width: 1590px) {
  .main-container {
      padding-left: 30px;
      padding-right: 30px;
  }
  #left-panel {
      padding-right: 15px;
  }
  #right-panel {
      padding-left: 15px;
  }
  .hide-1600 {
      display: none !important;
  }
  .show-inline-1600 {
      display: inline !important;
  }
  .show-block-1600 {
      display: block !important;
  }
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9 {
      float: left;
  }

  .col-xl-12 {
      width: 100%;
  }

  .col-xl-8 {
      width: 66.66666667%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-6 {
      width: 50%;
  }

  .col-xl-5 {
      width: 41.66666667%;
  }

  .col-xl-4 {
      width: 33.33333333%;
  }

  .col-xl-3 {
      width: 25%;
  }
}
@media (min-width: 1910px) {
  .hide-1920 {
    display: none !important;
  }
  .show-inline-1920 {
    display: inline !important;
  }
  .show-block-1920 {
    display: block !important;
  }
}

/* +---------------+ */
/* |HEIGHT SETTINGS| */
/* +---------------+ */
/* RESTRICTIVE CSS FOR 690px SCREENS */
@media (min-height: 650px) {
  .table > tbody > tr > td {
      padding-top:4px;
      padding-bottom: 4px;
  }

}
/* RESTRICTIVE CSS FOR 740px SCREENS */
@media (min-height: 700px) {
  .table > tbody > tr > td {
      padding-top:8px;
      padding-bottom: 8px;
  }
  #left-panel {
      font-size: 14px;
  } 
}
/* RESTRICTIVE CSS FOR 840px SCREENS */
@media (min-height: 800px) {
  .starter-template {
      padding-top:91px;
  }
  #left-panel {
      font-size: 16px;
  } 
  .main-container {
      height: calc(100vh - 120px);
  }     
}