/* UNIVERSAL STUFF */
.login-page > .login-container {
  width: 360px;
  margin-top: 5px;
}
.login-page .login-panel {
  margin: 0;
}
#lock-hook{
  display: none;
}

/* +---------------+ */
/* |WIDTH SETTINGS| */
/* +---------------+ */
/* RESTRICTIVE CSS FOR 1024px SCREENS */


/* RESTRICTIVE CSS FOR 1200px SCREENS */
@media (min-width: 1190px) {
}

/* RESTRICTIVE CSS FOR 1280px SCREENS */
@media (min-width: 1270px) {
}

/* RESTRICTIVE CSS FOR 1366px SCREENS */
@media (min-width: 1356px) {
}

/* RESTRICTIVE CSS FOR 1600px SCREENS */
@media (min-width: 1590px) {
}

/* +---------------+ */
/* |HEIGHT SETTINGS| */
/* +---------------+ */
/* RESTRICTIVE CSS FOR 700px SCREENS */
@media (min-height: 650px) {

}
/* RESTRICTIVE CSS FOR 800px SCREENS */
@media (min-height: 700px) {
  .login-page > .login-container {
      margin-top: 40px;
  }
}
/* RESTRICTIVE CSS FOR 900px SCREENS */
@media (min-height: 800px) {
  .login-page > .login-container {
      margin-top: 80px;
  }
}