$background: #f2f2f4;
$arrowColour: #bbb;
$topTenPC: #E100FF;
$overPerform: #0EDE61;
$underPerform: #DEC110;
$raisePerform: #5187E8;
$reducePerform: #E87D4C;

$mainPaddingSmall: 2px;
$mainPadding: 15px;