//includes
@import "variables";
@import "navbar";
@import "title-bar";

#lock-hook{
    display: none;
}

#alt-suggestion{
    display: none;
}

table.dataTable.table-condensed .sorting:after, 
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    top:auto;
}

body {
    background-color: $background;
    color: #85868d;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

body,
html {
    overflow-x: hidden;
}

.transit {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.container-narrow {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.container-wide {
    margin-left: auto;
    margin-right: auto;
}

table.nopadding tr td {
    padding: 0 5px 0 0;
    line-height: 1em;
}

table.nopadding tr td.cellkey {
    font-weight: bold;
    text-transform: capitalize;
}

/*****************************
Loader
*****************************/
.loading-container {
    position: fixed;
    background-color: $background;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
}

.loading {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
}

.loading div {
    width: 16px;
    height: 16px;
    position: absolute;
}

.l1 div,
.l2 div,
.l3 div,
.l4 div {
    width: 100%;
    height: 100%;
}

.l1 div {
    background-color: #2ecc71;
}

.l2 div {
    background-color: #9b59b6;
}

.l3 div {
    background-color: #3498db;
}

.l4 div {
    background-color: #f1c30f;
}

.l1 {
    transform: translate(0, 0);
}

.l2 {
    transform: translate(0, 16px);
}

.l3 {
    transform: translate(16px, 0px);
}

.l4 {
    transform: translate(16px, 16px);
}
@keyframes rot1 {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}
@keyframes rot2 {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}
@keyframes rot3 {
    0% {
        transform: rotate(45deg);
    }

    35% {
        transform: rotate(45deg);
    }

    65% {
        transform: rotate(405deg);
    }

    100% {
        transform: rotate(405deg);
    }
}
@keyframes l1-rise {
    0% {
        transform: translate(0px, 0px);
    }

    30% {
        transform: translate(-4px, -4px);
    }

    70% {
        transform: translate(-4px, -4px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes l2-rise {
    0% {
        transform: translate(0, 16px);
    }

    30% {
        transform: translate(-4px, 20px);
    }

    70% {
        transform: translate(-4px, 20px);
    }

    100% {
        transform: translate(0, 16px);
    }
}
@keyframes l3-rise {
    0% {
        transform: translate(16px, 0px);
    }

    30% {
        transform: translate(20px, -4px);
    }

    70% {
        transform: translate(20px, -4px);
    }

    100% {
        transform: translate(16px, 0px);
    }
}
@keyframes l4-rise {
    0% {
        transform: translate(16px, 16px);
    }

    30% {
        transform: translate(20px, 20px);
    }

    70% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: translate(16px, 16px);
    }
}

.l1 {
    animation: l1-rise 3s ease 0s infinite;
}

.l2 {
    animation: l2-rise 3s ease 0s infinite;
}

.l3 {
    animation: l3-rise 3s ease 0s infinite;
}

.l4 {
    animation: l4-rise 3s ease 0s infinite;
}

.l1 div,
.l4 div {
    animation: rot1 3s ease 0s infinite;
}

.l2 div,
.l3 div {
    animation: rot2 3s ease 0s infinite;
}

.app-search {
    position: relative;
    margin-bottom: 8px;
}

.app-search .form-control,
.app-search .form-control:focus {
    border: 1px solid #d3d3db;
    font-size: 13px;
    color: #c4c4cd;
    padding-left: 30px;
    background: none;
    box-shadow: none;
}
.app-search .form-control::-moz-placeholder {
    color: #c4c4cd;
}

/*****************************
Content Area (right)
*****************************/
.content {
    margin-left: 190px;
}

.content > .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

/*****************************
Styled Radio/Checkbox
*****************************/
.cr-styled {
    display: inline-block;
    margin: 0 2px;
}

.cr-styled i {
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
    border: 2px solid #CCC;
    border-radius: 3px;
    text-align: center;
    padding-top: 1px;
    font-family: 'FontAwesome';
}

.cr-styled input {
    visibility: hidden;
    display: none;
}
/* Checkbox */
.cr-styled input[type=checkbox]:checked + i:before {
    content: "\f00c";
}
/* Radio */
.cr-styled input[type=radio] + i {
    border-radius: 20px;
}

.cr-styled input[type=radio]:checked + i:before {
    content: "\f111";
}
/*** cr-styled Theaming/Colorss ***/
.cr-styled input:checked + i {
    border-color: #a49bc4;
    color: #a49bc4;
}

/*****************************
Footer
*****************************/
.footer {
    background-color: $background;
    border-top: 1px solid #ececee;
    padding-bottom: 15px;
    padding-top: 15px;
}

/*****************************
 Color >> Backgrounds + Text
*****************************/
.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.bg-pink {
    background-color: #eaa1bd;
}

.text-pink {
    color: #eaa1bd;
}

.bg-yellow {
    background-color: #f9dc85;
}

.text-yellow {
    color: #f9dc85;
}

.bg-gray {
    background-color: #b2b2b2;
}

.text-gray {
    color: #b2b2b2;
}

.bg-lightgray {
    background-color: #fbfbfd;
}

.text-lightgray {
    color: #fbfbfd;
}

.bg-red {
    background-color: #F16364;
}

.text-red {
    color: #F16364;
}

.bg-blue {
    background-color: #00a0e6;
}

.text-blue {
    color: #00a0e6;
}

.bg-green {
    background-color: #67BF74;
}

.text-green {
    color: #67BF74;
}

.bg-purple {
    background-color: #8d82b5;
}

.text-purple {
    color: #8d82b5;
}

.bg-yellow {
    background-color: #F9A43E;
}

.text-yellow {
    color: #F9A43E;
}

.bg-orange {
    background-color: #F58559;
}

.text-orange {
    color: #F58559;
}

.bg-test {
    background-color: #79B9D9;
}

.text-test {
    color: #79B9D9;
}

.bg-warning {
    background-color: #FEB252;
}

.text-warning {
    color: #FEB252;
}

.bg-danger {
    background-color: #E9573F;
}

.text-danger {
    color: #E9573F;
}

.bg-success {
    background-color: #70BA63;
}

.text-success {
    color: #70BA63;
}

.bg-info {
    background-color: #4DC5F9;
}

.text-info {
    color: #4DC5F9;
}

.text-topTen {
    color: $topTenPC;
}

.bg-topTen {
    background-color: $topTenPC;
}

.text-overPerform {
    color: $overPerform;
}

.bg-overPerform {
    background-color: $overPerform;
}

.text-underPerform {
    color: $underPerform;
}

.bg-underPerform {
    background-color: $underPerform;
}
/*****************************
 Form Elements
*****************************/
/*** Custom Colors Btn ***/
.btn-purple {
    background-color: #8d82b5;
    border-color: #6b5f98;
    color: #fff;
}

.btn-purple.active,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:hover,
.open .dropdown-toggle.btn-purple {
    background-color: #6b5f98;
    color: #fff;
}

.btn-green {
    background-color: #70ba63;
    border-color: #579e4b;
    color: #fff;
}

.btn-green.active,
.btn-green:active,
.btn-green:focus,
.btn-green:hover,
.open .dropdown-toggle.btn-purple {
    background-color: #579e4b;
    color: #fff;
}
/*** Btn Shapes ***/
.btn-circle,
.btn-group .btn-circle:first-child:not(:last-child):not(.dropdown-toggle),
.form-control-circle {
    border-radius: 50px;
}

.btn-flat,
.form-control-flat {
    border-radius: 0;
}
/*****************************
Form Elements
*****************************/
.has-feedback div[class*=col-] .form-control-feedback {
    right: 15px;
    line-height: 34px;
}
/*****************************
Panel Styling
*****************************/
.panel {
    margin-bottom: 30px;
}

.panel-heading {
    font-weight: 700;
}

.panel-heading small,
.panel-heading span,
.panel-heading.un-bold {
    font-weight: 400;
}
/*** success ***/
.panel-diagnosis {
    border-color: #70ba63;
}

.panel-diagnosis > .panel-footer,
.panel-diagnosis > .panel-heading {
    border-color: #70ba63;
    background-color: #70ba63;
    color: #fff;
    box-shadow: none;
}
/*** info ***/
.panel-monitoring {
    border-color: #4cbceb;
}

.panel-monitoring > .panel-footer,
.panel-monitoring > .panel-heading {
    border-color: #4cbceb;
    background-color: #4cbceb;
    color: #fff;
    box-shadow: none;
}
/*** warning ***/
.panel-treatment {
    border-color: #feb252;
}

.panel-treatment > .panel-footer,
.panel-treatment > .panel-heading {
    border-color: #feb252;
    background-color: #feb252;
    color: #fff;
    box-shadow: none;
}
/*** danger ***/
.panel-exclusions {
    border-color: #e35b5a;
}

.panel-exclusions > .panel-footer,
.panel-exclusions > .panel-heading {
    border-color: #e35b5a;
    background-color: #e35b5a;
    color: #fff;
    box-shadow: none;
}
/*** default ***/
.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-footer,
.panel-default > .panel-heading {
    border-color: #e8e8eb;
    background-color: #f5f5f5;
    box-shadow: none;
}

.btn-default,
.panel-default > .panel-heading {
    color: #9D9EA5;
}
/*** primary ***/
.panel-primary {
    border-color: #8d82b5;
}

.panel-primary > .panel-footer,
.panel-primary > .panel-heading {
    border-color: #8d82b5;
    background-color: #8d82b5;
    box-shadow: none;
}
/*** Clean Panel Heading ***/
.panel-footer.clean,
.panel-heading.clean {
    background: none;
    border: none;
}
/*****************************
 Dropdown
*****************************/
.dropdown-menu > li > a {
    color: #84868e;
}
/*** Dropdown Menu Sizes ***/
.dropdown-menu.md {
    min-width: 300px;
}

.dropdown-menu.lg {
    min-width: 400px;
}

.dropdown-menu.arrow:after,
.dropdown-menu.arrow:before {
    content: "";
    display: block;
    position: absolute;
    height: 11px;
    width: 11px;
    border-color: inherit;
    border-style: solid;
    border-width: 11px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    bottom: 100%;
    left: 6px;
}

.dropdown-menu.arrow.arrow-top-left,
.dropdown-menu.arrow.arrow-top-right {
    top: calc(100% + 15px);
}
/**Top Right Arrow**/
.dropdown-menu.arrow.arrow-top-right:after,
.dropdown-menu.arrow.arrow-top-right:before {
    border-bottom-color: inherit;
    right: 6px;
    left: auto;
}

.dropdown-menu.arrow.arrow-top-right:before {
    right: 5px;
    left: auto;
}

.dropdown-menu.arrow.arrow-top-right:after {
    border-bottom-color: #fff;
}
/**Top Left Arrow**/
.dropdown-menu.arrow.arrow-top-left:after,
.dropdown-menu.arrow.arrow-top-left:before {
    border-bottom-color: inherit;
    left: 6px;
    left: auto;
}

.dropdown-menu.arrow.arrow-top-left:before {
    left: 5px;
}

.dropdown-menu.arrow:after {
    height: 10px;
    width: 10px;
    border-width: 10px;
}

.dropdown-menu.arrow.panel-default:after {
    border-bottom-color: #F5F5F5;
}
/*****************************
Progress Bars
*****************************/
.progress.progress-xxs {
    height: 4px;
}

.progress.progress-xs {
    height: 8px;
}

.progress.progress-sm {
    height: 12px;
}

.progress.progress-lg {
    height: 24px;
}
/*****************************
Horizaontal Row
*****************************/
hr.sm {
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.xs {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr.dotted {
    border-style: dashed;
}

hr.clean {
    border: 0;
}
/*****************************
Tabs with panel
*****************************/
.panel.tab-pane.tabs-up {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/****************************************
=========================================
Responsive Stying
=========================================
*****************************************/
@media (max-width: 768px) {
    aside.left-panel.collapsed {
        width: 250px;
        height: 3000px;
        left: 0;
        /*overflow:hidden !important;*/
    }

    aside.left-panel.collapsed + .content {
        margin-left: 0;
        transform: translate3d(250px, 0px, 0px);
        -ms-transform: translate3d(250px, 0px, 0px);
        -webkit-transform: translate3d(250px, 0px, 0px);
        -moz-transition: translate3d(250px, 0px, 0px);
        -o-transition: translate3d(250px, 0px, 0px);
        transition: translate3d(250px, 0px, 0px);
    }

    aside.left-panel {
        left: 100%;
    }

    section.content {
        margin-left: 0;
    }

    .content > .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-header h1 {
        margin-top: 0;
    }
}
@media (max-width: 450px) {
    .dropdown-menu {
        min-width: 280px !important;
    }

    .messages-dropdown {
        right: -80px !important;
    }

    .messages-dropdown.arrow.arrow-top-right:after {
        right: 85px;
    }

    .messages-dropdown.arrow.arrow-top-right:before {
        right: 84px;
    }

    .notifications {
        right: -40px !important;
    }

    .notifications.arrow.arrow-top-right:after {
        right: 45px;
    }

    .notifications.arrow.arrow-top-right:before {
        right: 44px;
    }
}
/****************************************
=========================================
Just For Demo / Showcase
=========================================
*****************************************/
.showcase-btn,
.showcase-btn li {
    margin-bottom: 10px;
}

.showcase-switch-button {
    margin-right: 15px;
}

.showcase-pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

.showcase-icons div {
    line-height: 40px;
    cursor: pointer;
    height: 40px;
}

.showcase-icons i {
    transition: font-size 0.2s ease 0s;
    text-align: center;
    width: 40px;
}

.showcase-icons > div:hover i {
    font-size: 26px;
}

body {
    overflow-y: hidden;
    /*padding-bottom: 70px;*/
}

body.qof {
    background-color: #ddf9f9;
}

.btn.btn-xs.btn-yes.btn-toggle.btn-success {
    /*color: #e9e9e9;*/
    background-color: rgb(68, 157, 68);
}

/*
tr.standard-row:hover {
    background-color: #eee;
    cursor: pointer;
}
*/

span.standard-missed {
    background-color: #ff9999;
}

span.standard-achieved {
    background-color: #d2f8d2;
}

span.standard-not-relevant {
    background-color: #FAFCFF;
}

div.standard-missed-page {
    background-color: #ff9999;
    min-height: 1000px;
}

div.standard-achieved-page {
    background-color: #d2f8d2;
    min-height: 1000px;
}

div.standard-not-relevant-page {
    background-color: #FAFCFF;
    min-height: 1000px;
}

.row.row-top {
    margin-top: -15px;
    margin-bottom: 8px;
}

.row.row-mid > div {
    margin-bottom: -15px;
}

.panel-body.success {
    background-color: rgb(223, 240, 216);
}

.panel-body.danger {
    background-color: #f2dede;
}

.btn-trend {
    background-color: yellow;
}

.btn-trend:focus {
    background-color: yellow;
}

.btn.btn-xs.btn-yes.btn-toggle.btn-success:hover {
    color: white;
    background-color: #00b20b;
    border-color: #00b20b;
}

.btn.btn-xs.btn-yes.btn-toggle.btn-success.active {
    color: white;
    background-color: #00b20b;
    border-color: #00b20b;
}

.btn.btn-xs.btn-yes.btn-toggle.btn-success.active:hover {
    color: #e5e5e5;
    background-color: #00b20b;
    border-color: #00b20b;
}

.btn.btn-xs.btn-yes.btn-toggle.btn-success.inactive {
    color: #e9e9e9;
}

.btn.btn-xs.btn-no.btn-toggle.btn-danger {
    /*color: #e9e9e9;*/
    background-color: rgb(201, 48, 44);
}

.btn.btn-xs.btn-no.btn-toggle.btn-danger:hover {
    color: white;
    background-color: rgb(201, 48, 44);
    border-color: #FF0000;
}

.btn.btn-xs.btn-no.btn-toggle.btn-danger.inactive:hover {
    background-color: rgb(201, 48, 44);
    border-color: transparent;
}

.btn.btn-xs.btn-no.btn-toggle.btn-danger.active {
    color: white;
    background-color: #FF0000;
    border-color: #FF0000;
}

.btn.btn-xs.btn-no.btn-toggle.btn-danger.active:hover {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #e5e5e5;
}

.btn-switch {
    background-color: lightgrey;
    color: darkgrey;
    box-shadow: inset -2px 0 8px -2px rgba(0, 0, 0, 0.3);
}

.btn-copy:hover,
.zeroclipboard-is-hover {
    color: orange;
    background-color: rgb(241,241,241);
    border-color: rgb(184,184,184);
}
/*
.btn:hover {
    color: white;
    background-color: lightgrey;
}*/
.btn-switch.active {
    box-shadow: inset -2px 0 8px -2px rgba(100, 203, 238, 1);
}

.btn-switch.active:hover {
    background-color: rgb(40, 96, 144);
}

.btn-hover-show-group {
    display: none;
}

tr.suggestion:hover .btn-hover-show-group {
    display: inline-block;
}

tr.suggestion.danger:hover .btn-hover-show-group,
tr.suggestion.success:hover .btn-hover-show-group {
    display: none;
}


/* Better widths for container */
@media (min-width: 768px) {
    .container {
        width: 538px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 762px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
    .container-wide {
        width: 1150px;
        width: 95vw;
    }
}
@media (min-width: 1500px) {
    .container, .container-wide {
        width: 1270px;
    }
}
@media (min-width: 1800px) {
    .container, .container-wide {
        width: 1570px;
    }
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 0 solid #7e818d;
    border-bottom: 2px solid #7e818d;
}

.info-button {
    color: cornflowerblue;
}

#mainTab {
    border-bottom-width: 0;
}

/* ------------------ Login page --------------------*/
.login-page > .login-container {
    width: 360px;
    margin-top: 5px;
}
.login-page .login-panel {
    margin: 0;
}

.starter-template {
    padding-bottom:0;
}

.no-padding {
    padding:0;
}

.input-group textarea {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-radius:0;
}

.input-group .btn {
    border-width:0;
}

/* +--------------+ */
/* |WIDTH SETTINGS| */
/* +--------------+ */

/* RESTRICTIVE CSS FOR 1024px SCREENS */
body {
    font-size: 14px;
}

.starter-template {
    padding-right: $mainPaddingSmall;
    padding-left: $mainPaddingSmall;
}

.main-container {
    padding-left: 8px;
    padding-right: 8px;
}

#left-panel {
    padding-right: 5px;
}
#right-panel {
    padding-left: 5px;
}

.thumb-header {
    padding:0 !important;
    width: 52px;
}

.table > tbody > tr > td {
    padding-right:0;
    padding-left: 5px;
}

.top-half-of-action-panel .panel-heading {
    padding-left: 5px;
}

/* RESTRICTIVE CSS FOR 1200px SCREENS */
@media (min-width: 1190px) {
    .starter-template {
        padding-left: $mainPadding;
        padding-right: $mainPadding;
    }
    .main-container {
        padding-left: 30px;
        padding-right: 30px;
    }     
    .thumb-header {
        width: 105px
    }
    .table > tbody > tr > td {
        padding-left: 8px;
        padding-right: 8px;
    }
    .top-half-of-action-panel .panel-heading {
        padding-left: 8px;
    }
}

/* RESTRICTIVE CSS FOR 1280px SCREENS */
@media (min-width: 1270px) {
    body {
        font-size: 16px;
    }
    #left-panel {
        padding-right: 15px;
    }
    #right-panel {
        padding-left: 15px;
    }
}

/* RESTRICTIVE CSS FOR 1366px SCREENS */
@media (min-width: 1356px) {

}

/* RESTRICTIVE CSS FOR 1600px SCREENS */
@media (min-width: 1590px) {

}

/* +---------------+ */
/* |HEIGHT SETTINGS| */
/* +---------------+ */
/* RESTRICTIVE CSS FOR 1024px SCREENS */
.starter-template {
    padding-top: 78px;
}
.main-container {
    height: calc(100vh - 100px);
}
#left-panel {
    font-size: 13px;
}
.f20 {
    font-size: 13px;
}
.table > tbody > tr > td {
    padding-top:2px;
    padding-bottom: 2px;
}
$viewportHeight: 100vh;
$viewportHeightHalf: 50vh;
$halfOfActionPanelSmall: 65px;
$halfOfActionPanel:  75px;
$extraSpaceForMainActions: 30px;
$panelHeadingHeight: 45px;
$actionTextareaHeight: 90px;
.top-half-of-action-panel {
    max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanelSmall} + #{$extraSpaceForMainActions});
    .panel-body {
        max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanelSmall} - #{$panelHeadingHeight} + #{$extraSpaceForMainActions});
        overflow-y:auto;
    }
}
.bottom-half-of-action-panel {
    max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanelSmall} - #{$extraSpaceForMainActions});
    
    textarea {
        height: 70px;
    }

    .personal-action-table-wrapper {
        max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanelSmall} - #{$actionTextareaHeight} - #{$extraSpaceForMainActions});
        overflow-y:auto;
    }
}
/* RESTRICTIVE CSS FOR 8px SCREENS (lose viewport height to browser toolbars */
@media (min-height: 650px) {
    .table > tbody > tr > td {
        padding-top:4px;
        padding-bottom: 4px;
    }
}
/* RESTRICTIVE CSS FOR 800px SCREENS (lose viewport height to browser toolbars */
@media (min-height: 700px) {
    .login-page > .login-container {
        margin-top: 40px;
    }
    #left-panel {
        font-size: 14px;
    }
    .f20 {
        font-size: 14px;
    }    
    .table > tbody > tr > td {
        padding-top:8px;
        padding-bottom: 8px;
    }
}
/* RESTRICTIVE CSS FOR 900px SCREENS (lose viewport height to browser toolbars */
@media (min-height: 800px) {
    .starter-template {
        padding-top:91px;
    }
    .login-page > .login-container {
        margin-top: 80px;
    }
    .main-container {
        height: calc(100vh - 120px);
    }           
    #left-panel {
        font-size: 16px;
    }
    .f20 {
        font-size: 20px;
    }
    .top-half-of-action-panel {
        max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanel} + #{$extraSpaceForMainActions});
        .panel-body {
            max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanel} - #{$panelHeadingHeight} + #{$extraSpaceForMainActions});
        }   
    }           

    .bottom-half-of-action-panel {
        max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanel} - #{$extraSpaceForMainActions});
        textarea {
            height: 80px;
        }
        .personal-action-table-wrapper {
            max-height: calc(#{$viewportHeightHalf} - #{$halfOfActionPanel} - #{$actionTextareaHeight} - #{$extraSpaceForMainActions});
        }
    }
}

.italic {
    font-style: italic;
}

/*support for slightly wider desktops */
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 1300px) {
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }
}

.btn-copy {
    color: orange;
}
/* thanks fly in message */
.flyover {
    position: fixed;
    left: 150%;
    bottom: 20px;
    padding: 5px 15px;
    z-index: 999;
    opacity: 0.8;
}

.flyover.in {
    left: auto;
    right: 20px;
}

.headerDivider {
    border-left: 1px solid #38546d;
    border-right: 1px solid #16222c;
    height: 2000px;
    position: relative;
    right: 1200px;
    top: 10px;
}

.scroll-bar {
    overflow-y: scroll;
}

.fa-caret-invisible {
    opacity: 0;
}

td > .fa-caret-up {
    color: $raisePerform;
    margin-top: -6px;
}

td > .fa-caret-down {
    color: $reducePerform;
    margin-top: -5px;
}

.panel-grey {
    background-color: #f3f3f3;
}

.panel-red {
    background-color: #f3cccc;
}

.panel-green {
    background-color: #ccf3cc;
}

.panel-improvementopps {
    border-color: rgb(217, 83, 79);
}

.panel-heading-improvementopps {
    background-color: rgb(217, 83, 79);
    color: white;
    border-color: #70ba63;
    font-size: 14px;
    padding: 10px 15px;
}

.panel-heading-htn {
    background-color: #70ba63;
    color: white;
    border-color: #70ba63;
    font-size: 14px;
    padding: 10px 15px;
}

.panel-htn {
    border-color: #70ba63;
}

.panel-htn.clickable:hover {
    background-color: #edfbed;
    border-style: dashed;
}

.panel-heading-af {
    background-color: #7f7fff;
    color: white;
    border-color: #7f7fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
}

.panel-heading-ckd {
    background-color: #7f7fff;
    color: white;
    border-color: #7f7fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
}

.panel-heading-asthma {
    background-color: #7f7fff;
    color: white;
    border-color: #7f7fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
}

.panel-af {
    border-color: #7f7fff;
}

.panel-ckd {
    border-color: #7f7fff;
}

.panel-asthma {
    border-color: #7f7fff;
}

.panel-af.clickable:hover {
    background-color: #f7f7ff;
    border-style: dashed;
}

.panel-ckd.clickable:hover {
    background-color: #f7f7ff;
    border-style: dashed;
}

.panel-asthma.clickable:hover {
    background-color: #f7f7ff;
    border-style: dashed;
}

.user img {
    border: 0;
    width: 75px;
    height: 75px;
}

.user.text-center.clickable:hover {
    color: white;
    transition: color 0.2s ease;
}
/*
To stop screen shifting left slightly on modal popup
see https://github.com/twbs/bootstrap/issues/9855
mod
*/
.modal-open {
    padding-right: 0 !important;
}
/* position the dialog a bit lower down the screen */
.modal-dialog {
    margin-top: 20vh;
}

.modal-dialog.modal-dialog-top {
    margin-top: 100px;
}

.modal-dialog.modal-dialog-top.modal-fit {
    margin-top: 10vh;
    height: 80vh;
}

.modal-dialog.modal-dialog-top.modal-fit .modal-content {
    height: 100%;
}

.modal-dialog.modal-dialog-top.modal-fit .modal-body {
    overflow-y: auto;
    height: 90%;
}

/* Change header*/
/*.modal-content {
  background-color: #0480be;
}*/
.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #aaa;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-title {
    color: white;
    text-align: center;
    font-size: 22px;
}

.fa-stack-mod {
    line-height: 60px;
}

.icon-background {
    color: white;
}

.fa-stack-2-2x {
    font-size: 2.2em;
}

.icon-background-border-success {
    color: #70ba63;
}

.icon-background-border-info {
    color: #4cbceb;
}

.icon-background-border-warning {
    color: #feb252;
}

.icon-background-border-danger {
    color: #e35b5a;
}

.icon-background-border {
    color: #85868d;
}

.clickable {
    cursor: pointer;
}

.unclickable {
    cursor: default;
}

.c3-target-larger path {
    stroke-width: 0;
}

.tr-hovered {
    background-color: rgb(244, 244, 255);
}

.btn-toggle.inactive {
    opacity: 0.5;
}

#breakdown-table tbody tr:hover {
    background-color: rgb(244, 244, 255);
    cursor: pointer;
}

#breakdown-table tbody tr.selected {
    background-color: rgb(244, 255, 244);
}

.patient-list .highlighted {
    background: rgb(242, 242, 244);
}

.patient-list tr:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 244);
}

.icon-success {
    color: rgb(44, 160, 44);
}

.icon-info {
    color: rgb(31, 119, 180);
}

.icon-warning {
    color: rgb(255, 127, 14);
}

.icon-danger {
    color: rgb(214, 39, 40);
}

.shorty {
    margin-left: 75px;
}

.pagetitle-small {
    color: #70ba63;
    background-color: #70ba63;
}

.starter-template-high {
    padding: 15px;
}

.table > tbody > tr.suggestion.danger td span {
    text-decoration: line-through;
}

.table > tbody > tr.suggestion.active > td {
    background-color: rgb(223, 240, 216);
    color: #222;
}

.table > tbody > tr.suggestion.success td span {
    text-decoration: line-through;
    color: #85868d;
}

.table > tbody > tr.show-more-row.danger td span {
    text-decoration: line-through;
}

.table > tbody > tr.show-more-row.active > td {
    background-color: rgb(223, 240, 216);
    color: #222;
}

.table > tbody > tr.show-more-row.success td span {
    text-decoration: line-through;
    color: #85868d;
}

.table > tbody > tr.suggestion.success td label.btn-toggle span {
    color: #fff;
}

tr.suggestion.success label.btn-toggle.btn-success.active {
    opacity: 0.5;
}

.thumb-up {
    color: rgb(68, 157, 68);
}

.thumb-down {
    color: rgb(201, 48, 44);
}

.btn-padding {
    position: relative;
    overflow: hidden;
    margin: 8px 0;
}
/*
 * Better file loading buttons#
 *  courtesy of Cory LaViska http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
 */
.btn-file {
    position: relative;
    overflow: hidden;
    margin: 6px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-no-margin {
    margin-bottom: 0;
}

.table-small-margin {
    margin-bottom: 10px;
}
/*
.form-horizontal .control-label {
  padding-top: 4px;
}
.input-group-addon {
  padding: 0px 6px;
}
.form-group .form-control, .form-group .input-group {
  margin-bottom: 5px;
}
.input-group .form-control {
  margin:0;
}*/

.c3-chart-arc path._unselected_ {
    opacity: 0.3 !important;
}

.c3-chart-arc path._selected_ {
    opacity: 1 !important;
}

.c3-chart-bar path._unselected_ {
    opacity: 0.3 !important;
}

.c3-chart-bar path._selected_ {
    opacity: 1 !important;
}

.c3-chart-arc text {
    fill: #000;
}
/*
.dashboard-stats .view-style {
	opacity: 1;
	font-style: italic;
	font-size: 20px;
	padding: 7px 0px 15px 0px;
	color: rgb(95, 175,245);
}*/
/*
.fa-check-circle:before {
  content: "\f058";
}*/
table,
td,
th {
    border-collapse: collapse;
}

td,
th {
    padding: 30px;
}

.top-tab-pane > .panel {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*height: 750px;*/
}

.top-tab-pane .sub-tabs {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.top-tab-pane .sub-tab-pane {
    padding: 0 10px;
}

.sub-tab-pane > .panel {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 680px;
    margin-bottom: 10px;
}

.sub-tab-pane > .panel > .panel-body {
    padding: 5px;
}

.sub-tab-pane > .panel .panel {
    padding-bottom: 0;
    margin: 0 0 5px;
}

.table-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 170px;
}

.table-scroll .table {
    margin-bottom: 0;
}

.top-tab-pane > .panel > .panel-body > div > .table-scroll {
    max-height: 500px;
}

/*.soon {
	font-size: 64px;
	text-align: center;
}*/
/*************************************
*	Pathway code
**************************************/
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 3em;
    margin-bottom: 3em;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 40px;
    left: 50%;
    height: 70%;
    margin-left: -2px;
    width: 4px;
    background: #85868d;
}

.cd-timeline-block {
    position: relative;
    margin: 1.5em 0;
    min-height: 90px;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}
/**********************************/
/* Typeahead for patient searching
************************************/
.gist,
.tt-menu {
    text-align: left;
}

.tt-hint,
.tt-query,
.typeahead {
    width: 396px;
    height: 30px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

.form-inline .twitter-typeahead {
    width: auto;
    float: none;
    vertical-align: middle;
}

.tt-hint,
.tt-input,
.twitter-typeahead {
    height: 36px;
}

.tt-menu,
.tt-hint,
.tt-input,
.twitter-typeahead {
    width: 100%;
    max-width: 500px;
    /*  height: 36px;*/
}

.twitter-typeahead:before {
    content: "\f002";
    position: absolute;
    left: 12px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    cursor: pointer;
    top: 7px;
    color: #c4c4cd;
    display: inline-block;
    z-index: 10;
}
/* Fix for c3 flicker whereby
   extra svg elements at the bottom
   of the page cause the vertical
   scrollbar to toggle  */
body > svg {
    /*height:0px !important;*/
    position: absolute;
    z-index: -10;
    top: 0;
}
/* Define a class for a padding less row*/
.row-no-padding > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Allow column to stretch to height of container*/
.tooltip-inner-saved {
    color: white;
    background: #00b20b;
    border: solid 2px white;
    border-radius: 15px;
}

.full-height-col-container {
    overflow: hidden;
    position: relative;
}

.full-height-col-container .full-height-col {
    position: absolute;
    height: 100%;
    right: 0;
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.h-chart {
    min-width: 320px;
    /*max-width: 800px;*/
    height: 68px;
    margin: 0 auto;
}

.h-condition-chart {
    height: 200px;
}

.h-medication-chart {
    height: 200px;
}

.h-important-codes-chart {
    height:40px;
}

.h-contact-chart {
    height:50px;
}

.h-last-measurement-chart {
    height: 80px;
}

.h-navigator-chart {
    height: 60px;
}

#right-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.page > .tab-content > .panel {
    margin-bottom: 0;
}

.fit-to-scrolling-section-height {
    height: 250px;
}
@media (min-height: 500px) and (max-height: 599px) {
    .fit-to-scrolling-section-height {
        height: 300px;
    }
}
@media (min-height: 600px) and (max-height: 699px) {
    .fit-to-scrolling-section-height {
        height: 400px;
    }
}
@media (min-height: 700px) and (max-height: 799px) {
    .fit-to-scrolling-section-height {
        height: 500px;
    }
}
@media (min-height: 800px) and (max-height: 899px) {
    .fit-to-scrolling-section-height {
        height: 600px;
    }
}
@media (min-height: 900px) and (max-height: 999px) {
    .fit-to-scrolling-section-height {
        height: 700px;
    }
}
@media (min-height: 1000px) and (max-height: 1099px) {
    .fit-to-scrolling-section-height {
        height: 800px;
    }
}
@media (min-height: 1100px) and (max-height: 1199px) {
    .fit-to-scrolling-section-height {
        height: 900px;
    }
}
@media (min-height: 1200px) {
    .fit-to-scrolling-section-height {
        height: 1000px;
    }
}

.fp-controlArrow.fp-prev {
    border-color: transparent $arrowColour;
}

.fp-controlArrow.fp-next {
    border-color: transparent $arrowColour;
}

.fp-controlArrow.fp-up {
    bottom: auto;
    top: 35px;
    left: 50%;
    width: 0;
    border-width: 0 38.5px 34px 38.5px;
    border-color: $arrowColour transparent;
}

.fp-controlArrow.fp-down {
    top: auto;
    bottom: 135px;
    left: 50%;
    border-width: 34px 38.5px 0 38.5px;
    border-color: $arrowColour transparent transparent transparent;
}

.fp-controlArrow div {
    margin-left: 25px;
    white-space: nowrap;
    color: #ccc;
}

.fp-controlArrow.fp-down div {
    margin-top: -25px;
}

.chart-title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

.show-less-than-3,
.show-more,
.show-more-than-3 {
    cursor: pointer;
}

.qs-show-more-row,
.show-more-row {
    display: none;
}

.suggestion {
    background-color: #f5f5f5;
}

.show-more-row/*,
.standard-row*/ {
    background-color: #fafafa;
}

.standard-row.hover {
    background-color: #eee;
    cursor: pointer;
}

.standard-row {
    background-color: white;
}

.alternate-row {
    background-color: white;
}

.show-more-row.hover {
    background-color: #eee;
    cursor: pointer;
}

.table > tbody > tr.show-more-row > td {
    border-top-width: 0;
}

.perf-bullet {
    font-size: larger;
}

.perf-bullet-msg {
    font-style: italic;
}

.pastel-blue {
    background-color: #f9ffff;
}

.nav-tabs > li.active > a.pastel-pink,
.pastel-pink {
    background-color: #fff9ff;
}

.pastel-yellow {
    background-color: #fffff9;
}

.pastel-purple {
    background-color: #f9f9ff;
}

.pastel-green {
    background-color: #f9fff9;
}

.pastel-orange {
    background-color: #fff9f9;
}

.black {
    color: black;
}

.v-small {
    font-size: 0.5em;
}

.checkbox input[type="checkbox"].big-checkbox {
    width: 20px;
    height: 20px;
    margin-left: -25px;
}
.checkbox label.big-checkbox-label {
    line-height: 30px;
    margin-left: 20px;
}

/* Tourbus tutorial custom style */

$nextButtonBackgroundColour: #da4435;
$nextButtonColour: #fff;
$prevButtonBackgroundColour: #4435da;
$prevButtonColour: #fff;

$legBackgroundColour: #3c3c3c;

.tutorial-highlight-mask, {
  display: none;
  background: #666;
  opacity: 0.5;
  z-index: 9997;
  position: fixed;
  top:0;
}
.tutorial-disabling-mask {
    background: transparent;
    display: none;
    opacity: 0.5;
    z-index: 9996;
    position: fixed;
    top:0;
}
.tutorial-menu-mask {
    display: none;
    background: #222;
    opacity: 0.95;
    z-index: 9997;
    position: fixed;
    right: 0; bottom: 0; left: 0;
    top:0;
    -webkit-animation-name: tutorial-menu-appear;
    animation-name: tutorial-menu-appear;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.tutorial-mask-left {
    bottom: 0; left: 0;
}
.tutorial-mask-right {
    right: 0; bottom: 0; left: 0;
}
.tutorial-mask-top {
    left: 0;
}
.tutorial-mask-bottom {
    left: 0; bottom:0;
}
.tourbus-leg .orange {
    color: orange;
}
.tourbus-leg .bold {
    font-weight: bold;
}
.tourbus-leg .highlight {
    opacity: 0.5;
    -webkit-animation: pulsate 3s ease-out;
    -ms-animation: pulsate 3s ease-out;
    -moz-animation: pulsate 3s ease-out;
    animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1.0;
    }
    70% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1.0;
    }
    70% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
.tourbus-button {
    float: right;
    border-radius: 3px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.tourbus-prev.tourbus-button {
    float: left;
}

.tourbus-exit-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    color: #fff;
}

.tourbus-exit-icon:hover {
    color: #fff;
    text-shadow: 0 0 32px #fff,0 0 32px #fff;
    font-size: 20px;
    padding: 2px 3px 0 0;
}

.tourbus-leg {
    background-color: $legBackgroundColour;
    color: #fff;
    border: 0;
}

.tourbus-leg h2 .sub {
    color: #888;
    margin-right: 10px;
}

.tourbus-arrow-right:after,
.tourbus-arrow-right:before {
    border-right-color: $legBackgroundColour;
}
.tourbus-arrow-left:after,
.tourbus-arrow-left:before {
    border-left-color: $legBackgroundColour;
}
.tourbus-arrow-top:after,
.tourbus-arrow-top:before {
    border-top-color: $legBackgroundColour;
}
.tourbus-arrow-bottom:after,
.tourbus-arrow-bottom:before {
    border-bottom-color: $legBackgroundColour;
}

@-webkit-keyframes tutorial-menu-appear {
    0%,30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes tutorial-menu-appear {
    0%,30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tutorial-menu-appear {
    0%,30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tutorial-menu {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
    width: 750px;
    height: 400px;
    z-index: 15002;
    display:none;
}

.tutorial-menu .tutorial-menu-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    position: relative;
    font-weight: 400;
    -webkit-animation-name: tutorial-menu-appear;
    animation-name: tutorial-menu-appear;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.tutorial-menu ul {
    padding: 0;
    margin: 0
}

.tutorial-menu ul li {
    list-style-type: none;
    cursor: pointer;
    opacity: 0;
    position: relative;
    left: -110px;
    -webkit-animation-name: tutorial-menu-appear;
    animation-name: tutorial-menu-appear;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    height: 50px;
    overflow: hidden;
    margin-top: 20px
}

.tutorial-menu ul li h2 {
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0
}

.tutorial-menu ul li .tutorial-menu-item-description {
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
}

.tutorial-menu ul li .tutorial-menu-item-estimated-time {
    -webkit-transition: border-right 300ms ease;
    transition: border-right 300ms ease;
    border-right: solid 0 #fff;
    opacity: .5;
    font-size: 14px;
    color: #fff;
    float: left;
    height: 50px;
    width: 100px;
    margin-right: 14px;
    position: relative
}

.tutorial-menu ul li:hover h2 {
    color: #8076ec
}

.tutorial-menu ul li:hover .tutorial-menu-item-estimated-time {
    border-right: solid 20px #fff
}

.tutorial-close {
    margin-top: 20px;
    text-shadow: 0 0 5px #030, 0 0 3px #000, 0 2px 3px #000;
    -webkit-transition: text-shadow 300ms ease;
    transition: text-shadow 300ms ease;
    border-width: 0;
    background-color: transparent!important;
    z-index: 15005;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-animation-name: tutorial-menu-appear;
    animation-name: tutorial-menu-appear;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.tutorial-close:hover {
    color: #fff;
    text-shadow: 0 0 32px #fff,0 0 32px #fff;
    font-size: 20px;
    padding: 0 3px 0 0;
}

@media (min-width: 900px) {
    .modal-about {
        width: 800px;
    }
}

@media (min-width: 100px) {
    .modal-about {
        width: 900px;
    }
}

.small-pad-top-right {
    padding: 4px 4px 0 0;
}