// Core JS Files   --> 
 
script(src="../../js/libs/jquery-ui.min.js", type="text/javascript") 
script(src="../../js/libs/bootstrap.min.js", type="text/javascript") 
script(src="../../js/libs/material.min.js", type="text/javascript") 
script(src="../../js/libs/perfect-scrollbar.jquery.min.js", type="text/javascript") 
// Forms Validations Plugin --> 
script(src="../../js/libs/jquery.validate.min.js") 
//  Plugin for Date Time Picker and Full Calendar Plugin--> 
script(src="../../js/libs/moment.min.js") 
//  Charts Plugin --> 
script(src="../../js/libs/chartist.min.js") 
//  Plugin for the Wizard --> 
script(src="../../js/libs/jquery.bootstrap-wizard.js") 
//  Notifications Plugin    --> 
script(src="../../js/libs/bootstrap-notify.js") 
// DateTimePicker Plugin --> 
script(src="../../js/libs/bootstrap-datetimepicker.js") 
// Vector Map plugin --> 
script(src="../../js/libs/jquery-jvectormap.js") 
// Sliders Plugin --> 
script(src="../../js/libs/nouislider.min.js") 
//  Google Maps Plugin    --> 
//script(src="https://maps.googleapis.com/maps/api/js") 
// Select Plugin --> 
script(src="../../js/libs/jquery.select-bootstrap.js") 
//  DataTables.net Plugin    --> 
script(src="../../js/libs/jquery.datatables.js") 
// Sweet Alert 2 plugin --> 
script(src="../../js/libs/sweetalert2.js") 
//  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput --> 
script(src="../../js/libs/jasny-bootstrap.min.js") 
//  Full Calendar Plugin    --> 
script(src="../../js/libs/fullcalendar.min.js") 
// TagsInput Plugin --> 
script(src="../../js/libs/jquery.tagsinput.js") 
// Material Dashboard javascript methods --> 
script(src="../../js/libs/material-dashboard.js") 
// Material Dashboard DEMO methods, don't include it in your project! --> 
script(src="../../js/libs/demo.js") 
