//base scripts
script(src="../../js/libs/jquery-ui.min.js", type="text/javascript") 
//script(src="../../js/libs/bootstrap.min.js", type="text/javascript") 
script(src="../../js/libs/material.min.js", type="text/javascript") 
script(src="../../js/libs/perfect-scrollbar.jquery.min.js", type="text/javascript") 
//additional
script(src="../../js/libs/jquery.validate.min.js") 
script(src="../../js/libs/moment.min.js") 
script(src="../../js/libs/chartist.min.js") 
script(src="../../js/libs/jquery.bootstrap-wizard.js") 
script(src="../../js/libs/bootstrap-notify.js") 
script(src="../../js/libs/bootstrap-datetimepicker.js") 
script(src="../../js/libs/jquery-jvectormap.js") 
script(src="../../js/libs/nouislider.min.js") 
script(src="https://maps.googleapis.com/maps/api/js") 
script(src="../../js/libs/jquery.select-bootstrap.js") 
script(src="../../js/libs/jquery.datatables.js") 
script(src="../../js/libs/sweetalert2.js") 
script(src="../../js/libs/jasny-bootstrap.min.js") 
script(src="../../js/libs/fullcalendar.min.js") 
script(src="../../js/libs/jquery.tagsinput.js") 
script(src="../../js/libs/material-dashboard.js") 
