// jQuery fallback if no online version
script.
  window.jQuery || document.write('<script src="js/jquery/jquery-1.12.3.min.js"><\\/script>')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",crossorigin="anonymous")
script(src='jtt.js')
script.
  require("justTheTracking").init();