// jQuery fallback if no online version
script.
  window.jQuery || document.write('<script src="js/jquery/jquery-1.12.4.min.js"><\/script>')
script(src='libraries.js')
script(src='app.js')
script.
  require("script").init();
