// jQuery fallback if no online version
script.
  window.jQuery || document.write('<script src="js/jquery/jquery-1.12.3.min.js"><\\/script>')
script(src='jtt.js')
script.
  require("justTheTracking").init();