// views/partials/header.ejs
header.top-head.container-fluid.hide-if-logged-out
  nav.navbar.navbar-default.navbar-fixed-top.hidden-xs(role='navigation')
    .navbar-inner
      .container
        ul#mainTab.nav.nav-tabs.nav-tabs-tall.nav-wizard.pull-left(style='width:1100px', role='tablist')
          li.active(role='presentation', style='width:25%', data-id='overview')
            a(href='#overview', data-href='#overview', role='tab') OVERVIEW
            .nav-arrow
          li(role='presentation', style='width:25%', data-id='indicator')
            .nav-wedge
            a(href='#indicators', data-href='#indicators', role='tab') INDICATOR
            .nav-arrow
          li(role='presentation', style='width:25%', data-id='patient')
            .nav-wedge
            a(href='#patients', data-href='#patients', role='tab') PATIENT
            .nav-arrow
          li(role='presentation', style='width:25%', data-id='actions')
            .nav-wedge
            a(href='#agreedactions', data-href='#agreedactions', role='tab') ACTION PLANS
        ul.nav.navbar-nav.navbar-right
          li#file-loader
            a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | Load data
              span.caret
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              span#data-file-wrapper.btn.btn-default.btn-file
                | Load data...
                input#data-file(type='file')
              span#patient-file-wrapper.btn.btn-default.btn-file
                | Load patient lookup...
                input#patient-file(type='file')
          li
            a(href='#help') Help
          li
            a Contact us
          li
            a(href='/') Sign out
