.loading-container
  .loading
    .l1
      div
    .l2
      div
    .l3
      div
    .l4
      div
section#main
    nav.navbar.navbar-success(role='navigation')
      .container
        .navbar-header
          a(href="#")
            .logo-container
              .logo
                img(src="images/icons/apple-icon_WHITE.png")
              //ul#mainTab.nav.nav-tabs.nav-tabs-tall.nav-wizard.pull-left(role='tablist' data-intro="By Jove! *bTut*" data-step="1")
        ul#mainTab.nav.navbar-nav.nav-tabs-tall(role='tablist' data-intro="By Jove! *bTut*" data-step="1")      
          li(role='presentation', data-id='overview')
            a(href='#overview', data-href='#overview', role='tab') OVERVIEW
            .nav-arrow
          li(role='presentation', data-id='indicator')
            .nav-wedge
            a(href='#indicators', data-href='#indicators', role='tab') INDICATOR
            .nav-arrow
          li(role='presentation', data-id='patient')
            .nav-wedge
            a(href='#patients', data-href='#patients', role='tab') PATIENT
            .nav-arrow
          li(role='presentation', data-id='actions')
            .nav-wedge
            a(href='#agreedactions', data-href='#agreedactions', role='tab') ACTION PLANS
        ul.nav.navbar-nav.navbar-right
          li
            //TODO *b* sort out the spacing properly!
            //a( href='' style='margin-top:-8px' onClick)
            a
              #tutorialLaunch.btn.btn-danger Tutorial
            //a(class='btn btn-danger' href='#help') Help
          li
            a(href='#contact')
              .btn.btn-primary Contact us
          li.dropdown
            a
              .btn.dropdown-toggle(data-toggle='dropdown', href='#')
                span#user_fullname.hide-if-bit-small= fullname + " "
                span#practice_name(style="display:none")= practice_name
                span#practice_id(style="display:none")= practice_id
                span#practice_system(style="display:none")= practice_system
                i.fa.fa-user.fa-fw
                i.fa.fa-caret-down
              ul.dropdown-menu.dropdown-user
                - if(admin)
                  li
                    a(href='admin')
                      i.fa.fa-user.fa-fw
                      |  User management
                  li
                    a(href='emailadmin')
                      i.fa.fa-pencil-square-o.fa-fw
                      |  Email admin
                  li
                    a(href='events')
                      i.fa.fa-list.fa-fw
                      |  Event logs
                  li.divider
                li
                  a(href='changepassword')
                    i.fa.fa-key.fa-fw
                    |  Change password
                li
                  a(href='emailpreference')
                    i.fa.fa-envelope.fa-fw
                    |  Manage email preferences
                li.divider
                li
                  a(href='signout')
                    i.fa.fa-sign-out.fa-fw
                    |  Logout
          li
            a
              #suggestionsModalLauncher.btn.btn-info(data-intro="hello world! *bTut*" data-step="2") Send a comment
