//this file holds relative locations of any modals so that they are always on the most rootwise element in the DOM targetMet
include ../../../app/templates/mixins/edit-plan-modal
include ../../../app/templates/mixins/delete-plan-modal
