.tutorial-highlight-mask.tutorial-mask-left
.tutorial-highlight-mask.tutorial-mask-right
.tutorial-highlight-mask.tutorial-mask-top
.tutorial-highlight-mask.tutorial-mask-bottom
.tutorial-disabling-mask.tutorial-mask-left
.tutorial-disabling-mask.tutorial-mask-right
.tutorial-disabling-mask.tutorial-mask-top
.tutorial-disabling-mask.tutorial-mask-bottom
ol#tourbus-demo-1.tourbus-legs(data-debug='true')
  each stage,i in tutorialStages
    li&attributes(stage.attributes)
      a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') 🗙
      h2
        span.sub= (i+1) + '/' + tutorialStages.length
        = stage.title
      each para in stage.paragraphs
        p!= para
      if(i>0)
        a.tourbus-prev.tourbus-button(href='javascript:void(0);') Back
      if(i<tutorialStages.length-1)
        if(!stage.attributes['data-wait-for'])
          a.tourbus-next.tourbus-button(href='javascript:void(0);')= '▶ Next: ' + tutorialStages[i+1].title
      else
        a.tourbus-stop.tourbus-button(href='javascript:void(0);') Done!