include ../../partials/head.jade
include ../../mixins/toolbar.jade
include ../../mixins/ab/test.jade
.container.starter-template-high(style='background:white')
  +toolbar('A/B Test Configuration', [{btn:'btn-info',path:'/ab',text:'Back to test list'}])
  +test("Configure", '/ab/config/'+test._id, true)