/*****************************
Overrided CT-dashboard
*****************************/
.main-panel > .content{
  margin-top: 0px !important;
}

/*****************************
Misc
*****************************/
.icon-text{
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 3px;
    padding-left: 5px;
}

#lock-hook{
  display: none;
}

#alt-suggestion{
  display: none;
}

.logo-adjustment{
  height: calc(100vh - 176px) !important;
}

.shade{
  background: rgba(0,0,0,0.05);
}

/* thanks fly in message */
.flyover {
    position: fixed;
    left: 150%;
    bottom: 20px;
    padding: 5px 15px;
    z-index: 999;
    opacity: 0.8;
}

.flyover.in {
    left: auto;
    right: 20px;
}

/*****************************
Loader
*****************************/
$legacy_background: #f2f2f4;

.loading-container {
    position: fixed;
    background-color: $legacy_background;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
}
.loading {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
}

.loading div {
    width: 32px;
    height: 32px;
    position: absolute;
}
.l1 div,
.l2 div,
.l3 div,
.l4 div {
    width: 100%;
    height: 100%;
}
.l1 div {
    background-color: #31FFC3;
}
.l2 div {
    background-color: #3DFF59;
}
.l3 div {
    background-color: #9DFF31;
}
.l4 div {
    background-color: #FF3D6E;
}
.l1 {
    transform: translate(0, 0);
}
.l2 {
    transform: translate(0, 32px);
}
.l3 {
    transform: translate(32px, 0px);
}
.l4 {
    transform: translate(32px, 32px);
}
@keyframes rot1 {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes rot2 {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
@keyframes rot3 {
    0% {
        transform: rotate(45deg);
    }
    35% {
        transform: rotate(45deg);
    }
    65% {
        transform: rotate(405deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
@keyframes l1-rise {
    0% {
        transform: translate(0px, 0px);
    }
    30% {
        transform: translate(-8px, -8px);
    }
    70% {
        transform: translate(-8px, -8px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes l2-rise {
    0% {
        transform: translate(0, 32px);
    }
    30% {
        transform: translate(-8px, 40px);
    }
    70% {
        transform: translate(-8px, 40px);
    }
    100% {
        transform: translate(0, 32px);
    }
}
@keyframes l3-rise {
    0% {
        transform: translate(32px, 0px);
    }
    30% {
        transform: translate(40px, -8px);
    }
    70% {
        transform: translate(40px, -8px);
    }
    100% {
        transform: translate(32px, 0px);
    }
}
@keyframes l4-rise {
    0% {
        transform: translate(32px, 32px);
    }
    30% {
        transform: translate(40px, 40px);
    }
    70% {
        transform: translate(40px, 40px);
    }
    100% {
        transform: translate(32px, 32px);
    }
}
.l1 {
    animation: l1-rise 3s ease 0s infinite;
}
.l2 {
    animation: l2-rise 3s ease 0s infinite;
}
.l3 {
    animation: l3-rise 3s ease 0s infinite;
}
.l4 {
    animation: l4-rise 3s ease 0s infinite;
}
.l1 div,
.l4 div {
    animation: rot1 3s ease 0s infinite;
}
.l2 div,
.l3 div {
    animation: rot2 3s ease 0s infinite;
}

/**********************************/
/* Typeahead for patient searching
************************************/
//original #0097cf
$gb-dropdown-color: #3BEAB4;
$gb-dropdown-bgcolor: #fff;

.gist,
.tt-dropdown-menu {
    text-align: left;
}
.tt-hint,
.tt-query,
.typeahead {
    width: 396px;
    height: 30px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}
.typeahead {
    background-color: $gb-dropdown-bgcolor;
}
.typeahead:focus {
    border: 2px solid $gb-dropdown-color;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999;
    //color: #fff;
}
.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: $gb-dropdown-bgcolor;
    //border: 1px solid #ccc;
    //border: 1px solid rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 232, 124, 0.4);
    -moz-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 232, 124, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(44, 232, 124, 0.4);

    // -webkit-border-radius: 8px;
    // -moz-border-radius: 8px;
    // border-radius: 8px;
    // -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    // -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    // box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    //color: #999;
    background-color: $gb-dropdown-color;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.tt-hint,
.tt-input,
.twitter-typeahead {
    height: 36px;
}
.tt-dropdown-menu,
.tt-hint,
.tt-input,
.twitter-typeahead {
    width: 100%;
    max-width: 500px;
    /*  height: 36px;*/
}
.twitter-typeahead {
    /*position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 15px;*/
}
// .twitter-typeahead:before {
//     content: "\f002";
//     position: absolute;
//     left: 12px;
//     font-family: FontAwesome;
//     cursor: pointer;
//     top: 7px;
//     color: #c4c4cd;
//     display: inline-block;
//}

/*****************************
Debug
*****************************/
.highlight-red{
  background: red !important;
}

.highlight-blue{
  background: blue !important;
}

.highlight-green{
  background: green !important;
}

.highlight-magenta{
  background: magenta !important;
}

.highlight-cyan{
  background: cyan !important;
}

.highlight-yellow{
  background: yellow !important;
}
