#lock-hook{
  display: none;
}

#alt-suggestion{
  display: none;
}

.highlight-red{
  background: red !important;
}

.highlight-blue{
  background: blue !important;
}

.highlight-green{
  background: green !important;
}

.highlight-magenta{
  background: magenta !important;
}

.highlight-cyan{
  background: cyan !important;
}

.highlight-yellow{
  background: yellow !important;
}

.shade{
  background: rgba(0,0,0,0.05);
}
