deploy.bat
deploy.sh
node_modules
.DS_Store
*.log
.idea/
index.html.bak
mod.html
npm-debug.log*
data/in/**/*.txt
!data/in/**/text.txt
data/datareal.json
data/idata*
data/indicators.json
src/assets/data/
