deploy.bat
deploy.sh
node_modules
.DS_Store
*.log
.idea/
index.html.bak
mod.html
npm-debug.log*
data/in/**/*.txt
!data/in/**/text.txt
data/datareal*.json
data/idata*
data/indicators.json
data/mongo*.json
dist/
dist-test/
app/assets/data/data.json
pingr.zip
deploy/testserver/in/*
deploy/testserver/out/*
deploy/testserver/log/*
deploy/appserver/data/*
deploy/appserver/backups/*
deploy/appserver/dump/*
deploy/appserver/log/*
deploy/dbserver/log/*
deploy/dbserver/research-events-medication-htn/
!deploy/dbserver/research-events-medication-htn/medication-sorter-node.js
mongoimport.exe
mongoexport.exe

