/* Put your css in here */
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px 0px 15px;
}

.starter-template-high {
  padding: 15px 15px 0px 15px;
}

.form-horizontal .control-label {
  padding-top: 4px;
}
.input-group-addon {
  padding: 0px 6px;
}
.form-group .form-control, .form-group .input-group {
  margin-bottom: 5px;
}
.input-group .form-control {
  margin:0;
}
/* ------------------ Login page --------------------*/
.login-page > .login-container {
  width: 360px;
}
.narrow-container{
  width: 360px;
}
.login-page .login-panel {
  margin-top: 40px;
}

.c3-chart-arc path._unselected_ {
	opacity: 0.3 !important;
}
.c3-chart-arc path._selected_ {
	stroke: #fcff21;
	stroke-width: 5px;
	opacity: 1 !important;
}

.c3-chart-arc text {
	fill: #000;
}

.dashboard-stats .view-style {
	opacity: 1;
	font-style: italic;
	font-size: 20px;
	padding: 7px 0px 15px 0px;
	color: rgb(95, 175,245);
}

.fa-check-circle:before {
  content: "\f058";
}

