--to quickly put new *lists* of codes into this document
--use find / replace function
--change dropdown at bottom to use 'regular expressions'
--in 'find what' field put: ^{[A-Za-z0-9.][A-Za-z0-9.][A-Za-z0-9.][A-Za-z0-9.][A-Za-z0-9.]}$
--this finds all 5 digit read code values
--replace with whatever you want, with \1 representing the read code
--e.g. ('\1', 'pal'),
--can be referred to in a query like a temp table, but without the '#'
IF OBJECT_ID('dbo.codeGroups', 'U') IS NOT NULL DROP TABLE dbo.codeGroups;
CREATE TABLE codeGroups (code varchar(512), [group] varchar(512));
CREATE NONCLUSTERED INDEX [ix_codegroups_group] ON [dbo].[codeGroups] 
(
	[group] ASC
)
INCLUDE ( [code]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY];


			----------------------------------------------------------------------
			---------------------------RESP DRUGS--------------------------------
			----------------------------------------------------------------------

--asthma: drugs 
--from QOF Asthma ruleset_v34.0
	--c1... – c15z. SABAs (not specific to asthma)
	--c19..% LABA (not specific to asthma)
	--c1B.. – c1EE. LABAs (not specific to asthma)
	--c1c..% fluticasone
	--c2...% (Excluding c23..%, c24..%) adrenaline
	--c3...% (Excluding c32..%) 
	--c4...% (Excluding c42..%, c44..%) aminophylline - also licensed from copd; (theophylline only for asthma - below)
	--c5...% (Excluding c52..%, c51M., c51N.) compound bronchodilators
	--c6...% steroids
insert into codeGroups
select readcode, 'asthmaDrugs' from SIR_ReadCode_Rubric
where readcode like 'c43%' --theophyllines
or readcode like 'c7%' --asthma prophylaxis e.g. cromoglicate inhaler
or readcode like 'cA%' --leukotreine antagonist 
or readcode like 'ck1%' -- omalizumab
group by readcode

--inhalers: both copd and asthma
--from browser search
insert into codeGroups
select readcode, 'copdAsthmaDrugs' from SIR_ReadCode_Rubric
where readcode like 'c1%'	--	SELECTIVE BETA-ADRENOCEPTOR STIMULANT
or readcode like 'c3%'	--	ANTICHOLINERGIC BRONCHODILATORS
or readcode like 'c4%' --	XANTHINE BRONCHODILATORS
or readcode like 'c5%' --	COMPOUND BRONCHODILATORS
or readcode like 'c6%' --	CORTICOSTEROIDS [RESPIRATORY USE]
or readcode like 'c7%' --	ASTHMA PROPHYLAXIS
or readcode like 'cA%' --	LEUKOTRIENE RECEPTOR ANTAGONIST
or readcode like 'ce%' --	ORAL/PARENTERAL MUCOLYTICS
or readcode like 'ck%' --	MONOCLONAL IgE ANTIBODY
or readcode like 'cl%' --	PDE4 INHIBITORS
group by readcode

--inhalers: salbutamol inahler
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'salbutamolInahler' from SIR_ReadCode_Rubric
where readcode like 'c13%'	--	SALBUTAMOL [INHALATION PREPRATIONS]
or readcode like 'c1E%'	--	SALBUTAMOL [INHALATION PREPRATIONS 2]
group by readcode

--inhalers: saba
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'saba' from SIR_ReadCode_Rubric
where readcode like 'c13%'	--	SALBUTAMOL [INHALATION PREPRATIONS]
or readcode like 'c1E%'	--	SALBUTAMOL [INHALATION PREPRATIONS 2]
or readcode like 'c14%'	--	TERBUTALINE SULFATE [RESPIRATORY USE]
or readcode like 'c15%'	--	FENOTEROL HYDROBROMIDE
or readcode like 'c16%'	--	PIRBUTEROL
or readcode like 'c17%'	--	REPROTEROL
or readcode like 'c18%'	--	RIMITEROL
group by readcode

--inhalers: laba
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'laba' from SIR_ReadCode_Rubric
where readcode like 'c19%'	--	SALMETEROL XINAFOATE
or readcode like 'c1B%'	--	c1B..	00	BAMBUTEROL HYDROCHLORIDE
or readcode like 'c1C%'	--	c1C..	00	FORMOTEROL
or readcode like 'c1a%'	--	c1a..	00	TULOBUTEROL HYDROCHLORIDE
or readcode like 'c1b%'	--	c1b..	00	INDACATEROL
or readcode like 'c1d%'	--	c1d..	00	OLODATEROL ***just for copd***
group by readcode

--inhalers: sama
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'sama' from SIR_ReadCode_Rubric
where readcode like 'c31%'	--	c31..	00	IPRATROPIUM BROMIDE [1]
group by readcode

--lama
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'Lama' from SIR_ReadCode_Rubric
where readcode like 'c32%'	--	OXITROPIUM BROMIDE
or readcode like 'c33%'	--	TIOTROPIUM
or readcode like 'c34%'	--	ACLIDINIUM ***just copd
or readcode like 'c35%'	--	UMECLIDINIUM ***just copd
or readcode = 'o323.'--	SEEBRI BREEZHALER 44micrograms inhalation capsules
or readcode = 'o324.'--	GLYCOPYRRONIUM 44micrograms inhalation capsules
group by readcode

--ics
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'ics' from SIR_ReadCode_Rubric
where readcode like 'c61%'	--	BECLOMETASONE DIPROPIONATE [RESPIRATORY USE]
or readcode like 'c63%'	--	*BETAMETHASONE VALERATE
or readcode like 'c64%'	--	BUDESONIDE [RESPIRATORY USE]
or readcode like 'c65%'	--	FLUTICASONE PROPIONATE [RESPIRATORY USE]
or readcode like 'c66%'	--	BECLOMETASONE DIPROPIONATE [RESPIRATORY USE 2]
or readcode like 'c68%'	--	MOMETASONE [RESPIRATORY USE]
or readcode like 'c69%'	--	CICLESONIDE
group by readcode

--sabaIcs
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'sabaIcs' from SIR_ReadCode_Rubric
where readcode like 'c62%'	--	BECLOMETASONE COMPOUNDS
group by readcode

--labaIcs
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'labaIcs' from SIR_ReadCode_Rubric
where readcode like 'c1D%'	--	SALMETEROL+FLUTICASONE PROPIONATE
or readcode like 'c1c%'	--	FLUTICASONE PROPIONATE+FORMOTEROL FUMARATE
or readcode like 'c67%'	--	BUDESONIDE+FORMOTEROL
or readcode like 'c6A%'	--	BECLOMETASONE+FORMOTEROL
or readcode like 'c6B%'	--	FLUTICASONE+VILANTEROL
group by readcode

--sabaSama
--from browser search and QOF Asthma ruleset_v34.0
 --	00	INDACATEROL+GLYCOPYRRONIUM 85mcg/43mcg inh powder caps+inh

--phylline
--from browser search and QOF Asthma ruleset_v34.0
insert into codeGroups
select readcode, 'phylline' from SIR_ReadCode_Rubric
where readcode like 'c41%'	--	c41..	00	AMINOPHYLLINE
or readcode like 'c43%'	--	c43..	00	THEOPHYLLINE
group by readcode

--mucolytic
--from browser search
insert into codeGroups
select readcode, 'mucolytic' from SIR_ReadCode_Rubric
where readcode like 'cd%'	--	INHALATIONAL MUCOLYTICS
or readcode like 'ce%'	--	ORAL/PARENTERAL MUCOLYTICS
group by readcode

--spacer
--from codelist creator 28/12/16 (synonyms: "spacer")


--DEregistration: patient DEregistration at a practice
--from codelist creator 13/7/16 (synonyms: "de-registered", "de-registration", "deregister", "deregistration",  "moved away", "left practice",   " ghost",   "de-reg",  "patient removed",  "FP22")

--hyperthyroidism
--browser search
insert into codeGroups
select readcode, 'hyperthyroid' from SIR_ReadCode_Rubric
where readcode like 'C020%'
or readcode like 'C021%'
or readcode like 'C022%'
or readcode like 'C023%'
or readcode like 'C024%'
or readcode like 'C02y%'
or readcode like 'C02z%'
or readcode in ('C02..','1431.')
group by readcode

--hyperthyroidism resolved
--browser search
 --00	Viral wheeze

--myocardial infarction - contemporary code i.e. it's happened now / happening rather than "history of.."
--from codelist creator on 26/10/16 Read v2 April 2016 (synonyms: "myocardial infarction", "heart attack", "stemi", "nstemi", "infarct"
 --	00	No oedema present


					----------------------------------------------
							-----------SMOKING------------
					----------------------------------------------


--smoking cessation drugs
--from browser search
insert into codeGroups
select readcode, 'smokingCessationDrugs' from SIR_ReadCode_Rubric
where readcode like 'du3%'	--	nicotine
or readcode like 'du7%'	--	nicotine
or readcode like 'duB%' --	nicotine
or readcode like 'du6%' --	bupropion
or readcode like 'du8%' --	varenicline
group by readcode


 --	SYNFLORIX vaccine prefilled syringe 0.5mL

-------------------------
------CONTACTS-----------
-------------------------
--From AMIA paper
	
--occupations
insert into codeGroups
select readcode, 'occupations' from SIR_ReadCode_Rubric
where readcode like '0%'
group by readcode

--lab results
insert into codeGroups
select readcode, 'lab' from SIR_ReadCode_Rubric
where readcode like '4%'
group by readcode

--scan results
insert into codeGroups
select readcode, 'scan' from SIR_ReadCode_Rubric
where readcode like '5%'
group by readcode

--operations
insert into codeGroups
select readcode, 'operation' from SIR_ReadCode_Rubric
where readcode like '7%'
group by readcode

--hospital admissions
insert into codeGroups
select readcode, 'hospitalAdmission' from SIR_ReadCode_Rubric
where readcode like '8H[1-3]%'
group by readcode

--admin
insert into codeGroups
select readcode, 'admin' from SIR_ReadCode_Rubric
where readcode like '9%'
group by readcode

--record open
insert into codeGroups
select readcode, 'recordOpen' from SIR_ReadCode_Rubric
where readcode like '$%'
group by readcode


--hospital discharge / transfer / admin
insert into codeGroups
select readcode, 'hospitalAdmissionAdmin' from SIR_ReadCode_Rubric
where readcode like '8H[EFNOdfg]%'
group by readcode

--referral / admission no consultation
insert into codeGroups
select readcode, 'referralNoContact' from SIR_ReadCode_Rubric
where readcode like '8H[IJhu]%'
group by readcode

--exception codes
insert into codeGroups
select readcode, 'exception' from SIR_ReadCode_Rubric
where readcode like '9h%'
group by readcode

--medication codes
insert into codeGroups
select readcode, 'medication' from SIR_ReadCode_Rubric
where LEN(readcode) >= 8
or LEN(readcode) = 6 
or readcode like '[abcdefghijklmnopqrstuvwxyz]%'
or readcode like ''
or readcode like '8B3[168hHjklNSTUVy]%' 
or readcode like '8B4%' 
group by readcode

--f2f codes
insert into codeGroups
select readcode, 'f2f' from SIR_ReadCode_Rubric
where readcode like '1%'
or readcode like '2%'
or readcode in ('6A2..','6A9..','6AA..','6AB..','662d.','662e.','66AS.','66AS0','66AT.','66BB.','66f0.','66YJ.','66YM.','661Q.','66480','6AH..','6A9..','66p0.','6A2..','66Ay.','66Az.','69DC.')
or readcode like '6A%'
or readcode like '65%'
or readcode like '8B31[356]%'
or readcode like '8B3[3569ADEfilOqRxX]%'
or readcode in ('8BS3.')
or readcode like '8H[4-8]%' 
or readcode like '94Z%'
or readcode like '9N1C%' 
or readcode like '9N21%'
or readcode in ('9kF1.','9kR..','9HB5.')
or readcode like '9H9%'
group by readcode

--test codes
insert into codeGroups
select readcode, 'test' from SIR_ReadCode_Rubric
where readcode like '4%'
or readcode like '5%'
group by readcode

--hospital codes
insert into codeGroups
select readcode, 'hospital' from SIR_ReadCode_Rubric
where readcode like '7%'
or readcode like '8H[1-3]%'
or readcode like '9N%' 
group by readcode

--A+E codes
insert into codeGroups
select readcode, 'a+e' from SIR_ReadCode_Rubric
where readcode like '8H2%'
or readcode like '8H[1-3]%'
or readcode in ('9N19','8HJA.','8HC..','8Hu..','8HC1.')
group by readcode

--tel codes
insert into codeGroups
select readcode, 'tel' from SIR_ReadCode_Rubric
where readcode like '8H9%'
or readcode like '9N31%'
or readcode like '9N3A%'
group by readcode

	--	Patient never seen


					----------------------------------------------
							-----------eFI v3------------
					----------------------------------------------

insert into codeGroups
select readcode, 'efiMeds' from SIR_ReadCode_Rubric
where readcode like '[a-s]%'
or readcode like 'u%'
or readcode like 'y%'
group by readcode

 --	Memory & cognitive problems

 --	Urea and electrolytes U+E


