mixin password(hasFocus)
  .col-md-4
    .form-group.input-group
      span.input-group-addon
        i.fa.fa-key
      input.form-control.nomargin(type='password', name='password', placeholder='Password', required='', autofocus=hasFocus)