mixin actionPlanItem(suggestion)
  tr.suggestion.active(data-id=suggestion.actionTextId, class=suggestion.done ? 'success' : '')
    td
      span!= suggestion.actionText
    td
      button.btn.btn-warning.edit-plan
        i.fa.fa-pencil-alt
        |  Edit
      button.btn.btn-danger.delete-plan
        i.fa.fa-trash-alt
        |  Delete
