form(onsubmit='return false;')
  .form-group
    textarea.form-control(rows='3', style='resize:none', placeholder="Enter your own improvement action then click 'add' below...")
  button.btn.btn-info.add-plan Add
