form(onsubmit='return false;')
  .input-group
    textarea.form-control(rows='3', style='resize:none', placeholder="Enter your own improvement action then click 'add'...")
    span.input-group-addon.btn.btn-info.add-plan Add
