form(onsubmit='return false;')
  .form-group.label-floating.shade
    .row
      .col-md-10
        textarea.form-control(placeholder="Enter your own improvement action here!")
      //.col-md-offset-11.col-md-1
      .col-md-1
        button.btn.btn-just-icon.btn-info.btn-round.add-plan
          i.material-icons add
br
