li()
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 1/20
    | The PINGR tutorial

li(data-orientation='centered', data-mask='true', data-width='600')
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 1/20
    | The PINGR tutorial
  p OK! Let's show you how to use PINGR.
  a.tourbus-next.tourbus-button(href='javascript:void(0);') Next: Navigation
li(data-orientation='centered', data-mask='true')
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 2/20
    | Here to help
  p PINGR is here to suggest actions to improve patient care. All of it's suggestions are based on your practice's data.
  a.tourbus-next.tourbus-button(href='javascript:void(0);') Next: Navigation
  a.tourbus-prev.tourbus-button(href='javascript:void(0);') Back
li(data-orientation='centered', data-mask='true')
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 3/20
    | You can help PINGR
  p Your input improves PINGR over time. By giving a thumb_down you help PINGR's suggestions for all users
  a.tourbus-next.tourbus-button(href='javascript:void(0);') Next: Navigation
li(data-el='.nav.navbar-nav.navbar-right', data-highlight='true', data-orientation='bottom', data-width='400')
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 4/20
    | System buttons
  p These buttons are system level buttons. They are used to let you log out, change your password or contact the admins to help you out!
  a.tourbus-next.tourbus-button(href='javascript:void(0);') Next: Navigation
li(data-el='#mainTab', data-highlight='true', data-orientation='bottom', data-width='400')
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 5/20
    | Navigation
  p With these buttons you can access other panels in the system. In general you will move from left (overview panel) to right (action plans panel).
  p Press these buttons to take you to a specific part of the system in case you want to go somewhere specific.
  a.tourbus-next.tourbus-button(href='javascript:void(0);') Next: The log out button
li(data-el='#suggs', data-highlight='true', data-orientation='left', data-arrow='10%', data-width='400')
  a.tourbus-stop.tourbus-exit-icon(href='javascript:void(0);') X
  h2
    span.sub 6/20
    | The log out button.
  p Click this button if you want to log out of the system.
  a.tourbus-stop.tourbus-button(href='javascript:void(0);') Done!