include mixins/action-plan-item

if hasSuggestions
  table.table
    thead
      tr
        th Suggested by you
        th(style='width: 175px') Actions
    tbody
      each suggestion in suggestions
        +actionPlanItem(suggestion)
