.col-md-12
  //(style="border:1px black solid; margin-bottom: 4px")
  .card
    .card-header.card-header-icon(data-background-color="green")
      i.material-icons lightbulb_outline
    .card-content.table-responsive.table-full-width
      .nav.navbar-nav
        h3.card-title#Action-title Action Plans
      .nav.navbar-nav.navbar-right
        button.btn.btn-warning#downloadActionPlan Download action plan 
      #suggested-actions-table-wrapper.ps-child.wrapper-floatTHead.col-md-12 
        table#suggested-actions-table.table 

//include mixins/personal-action-plan
