#suggested-actions-table-wrapper(style="border:1px black solid; margin-bottom: 4px")
  table#suggested-actions-table.table 
button.btn.btn-warning#downloadActionPlan Download action plan   
//include mixins/personal-action-plan
