#suggested-actions-table-wrapper(style="border:2px solid #ddd;border-top-width:0; margin-bottom: 4px")
  table#suggested-actions-table.table 
button.btn.btn-warning#downloadActionPlan Download action plan   
//include mixins/personal-action-plan
