include mixins/action-plan-task-list

.container-fluid
  .row
    .col-md-6
      #team-task-panel.panel.panel-info
        .label.label-info Practice-level      
        +actionPlanTaskList(team)
      #team-add-plan(style='padding-bottom: 15px;margin-top: -10px;')
        include mixins/personal-action-plan
        //-this is the gap between top and bottom
    .col-md-6
      #individual-task-panel.panel.panel-warning
        .label.label-primary Individual patient
        +actionPlanTaskList(individual)
include mixins/edit-plan-modal
include mixins/delete-plan-modal
