.card
  .card-header.card-header-icon(data-background-color="rose")
    i.material-icons list
  .card-content
    h3.card-title#dataBrowser Data Browser
      h5#cardHeaderSection
    .col-md-12#indicatorDataContainer
