.panel.panel-default(style='margin-bottom:10px')
  .clearfix.panel-heading= "Top 3 suggested actions" + (indicator ? " for indicator '" + indicator + "'" : "" )  + " for patient with NHS number " + nhs
  #individual-action-panel.panel-body.no-padding
    #advice-list(style='overflow-y:auto')
.panel.panel-default(style='margin-bottom:5px')
  #user-action-panel.panel-body.no-padding
    #personalPlanIndividual(style='overflow-y:auto')
include mixins/edit-plan-modal
include mixins/delete-plan-modal
