//*b* currently: added accordion list head 
//    next: include subwrappers for accordion 
.card
  .card-header
    h4.card-title= "Top 3 Suggested Actions" + (indicator ? " for indicator '" + indicator + "'" : "" )  + " For this Patient"
    //Suggested Actions
  .card-content
    #accordion.panel-group(role="tablist", aria-multiselectable="true")
      #tab-plan-individual.panel.panel-default
        //.affix.panel.panel-default
        //.clearfix.panel-heading= "Top 3 suggested actions" + (indicator ? " for indicator '" + indicator + "'" : "" )  + " for patient with NHS number " + nhs
        //#tab-plan-individual.panel-body.fit-to-screen-height
        #advice-placeholder
          | Select an individual patient from the patient panel to view advice
        #advice-list
        #personalPlanIndividual
include mixins/edit-plan-modal
include mixins/delete-plan-modal
