.card
  .card-header.card-header-icon(data-background-color="purple")
    i.material-icons assistant
  .card-content
    h4.card-title Suggested Actions
    small.category= "Total Suggested Actions" + (indicator ? " for indicator '" + indicator + "'" : "" )  + " For this Patient"
    .row
      #tab-plan-individual.panel.panel-default
        //.affix.panel.panel-default
        //.clearfix.panel-heading= "Top 3 suggested actions" + (indicator ? " for indicator '" + indicator + "'" : "" )  + " for patient with NHS number " + nhs
        //#tab-plan-individual.panel-body.fit-to-screen-height
        #advice-placeholder
          | Select an individual patient from the patient panel to view advice
        
        #advice-list
        #personalPlanIndividual
      
        
        
//the modals have moved to the modal container
//include mixins/edit-plan-modal
//include mixins/delete-plan-modal
//BG-TODO user added plans in separate panel so always visible on screen
// also consider renaming panels inline with below
//- =======
//- .panel.panel-default(style='margin-bottom:10px')
//-   .clearfix.panel-heading= "Top 3 suggested actions" + (indicator ? " for indicator '" + indicator + "'" : "" )  + " for patient with NHS number " + nhs
//-   #individual-action-panel.panel-body(style='padding:0')
//-     #advice-list(style='overflow-y:auto')
//- .panel.panel-default(style='margin-bottom:5px')
//-   #user-action-panel.panel-body
//-     #personalPlanIndividual(style='overflow-y:auto')
//- include mixins/edit-plan-modal
//- include mixins/delete-plan-modal
//- >>>>>>> dev
