.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-top.modal-about
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modalLabel.modal-title About PINGR and us
      .modal-body(style='color:#333')
        p(style='text-align:center;color:#222')
          strong PINGR is a software application that analyses medical record data against NICE guidelines to help you find patients that may need action and formulate steps to improve their care.
        p It was created by Dr Benjamin Brown (a GP and Wellcome trust clinical fellow) and Richard Williams (an NIHR funded senior software engineer). If you want to know more then drop Ben a line at benjamin.brown@manchester.ac.uk.
        p If you're interested in academic publications, here are some papers about PINGR and the underlying methodology:
        ol
          li pub 1
          li pub 2
          li pub 3
        button.btn.btn-default(type='button', data-dismiss='modal') Close
