.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Exclude a patient
      .modal-body
        label 
          | Exclude patient 
          = nhs 
          |  from: 
          = indicator
        p Please let us know why:
        form
          div.form-group
            .radio
              label
                input(type="radio",name="reason",id="optionsRadios1",value="RIP", required)
                | RIP
            .radio
              label
                input(type="radio",name="reason",id="optionsRadios1",value="not registered", required)
                | No longer registered
            .radio
              label
                input(type="radio",name="reason",id="optionsRadios1",value="decision postponed", required)
                | Postpone decision
            .radio
              label
                input(type="radio",name="reason",id="optionsRadios1",value="other", required)
                | Other
          div.form-group
            textarea#modal-why-text.form-control(rows='3', style='resize:none;display:none', placeholder=placeholder)
          button.btn.btn-primary.save-plan(type='submit') Save
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
      .modal-footer
