.col-lg-6
  .card#overview-card
    .card-header.card-header-icon.text-center(data-background-color="blue")
      i.material-icons aspect_ratio
      h2.card-title Overview
    .card-content
      - if (practices && practices.length > 1)
        select.practice-picker
          each practice in practices
            option(value=practice._id, selected=practice._id === selectedPractice._id)= practice.name
      - else
        h4= "Start here to look over " + selectedPractice + "patients' data"
.col-lg-6
  .card#teamSuggestionCard
    .card-header.card-header-icon(data-background-color="green")
      i.material-icons assignment_returned
    #tab-plan-team-addition.card-content
      h4.card-title Add action
      .col-md-12
        include mixins/personal-action-plan
