= 'Patient ' + patid + ' '
button.btn.btn-xs.btn-default.btn-copy(type='button', data-clipboard-text=nhs, data-content='Copied', data-toggle='lone-tooltip', data-placement='right', title='Copy ' + nhs + ' to clipboard.')
  span.fa.fa-clipboard
= ' - ' + age + ' year old ' + sex
