.card
  .card-header.card-header-icon(data-background-color="green")
    i.material-icons search
  .card-content
    h4.card-title Search patients 
      form#search-box.app-search.hidden-xs.ng-pristine.ng-valid(role='search')
        //input.typeahead.form-control.form-control-circle(type='text', placeholder='Search by patients NHS number...')
        .form-group.label-floating.is-empty
          label.control-label Enter an NHS number
          input.typeahead.form-control(type='text')
