.card
  .card-header.card-header-icon(data-background-color="rose")
    i.material-icons perm_scan_wifi
  .card-content
    .row
      .col-md-9
        h4.card-title Quality Indicators
      .col-md-1  
        i.material-icons.text-rose(data-toggle='tooltip' data-placement='left' data-html='true' title='<h2>Indicators</h2><i class="material-icons">lightbulb_outline</i><p>Has the taget been met?</p><hr/><i class="material-icons">stars</i><p>Is there an action plan?</p><hr/><p><strong class="text-success">YES </strong> or <strong class="text-danger"> NO</strong></p>') help
    #accordion.panel-group(role="tablist", aria-multiselectable="false")
      .panel.panel-default
        each standard in standards
          .panel-heading(id="heading-" + standard.indicatorId.replace(/\./g,'-'), role="tab")
            a(role="button", data-toggle="collapse", data-parent="#accordion", href="#" + standard.indicatorId.replace(/\./g,'-'), aria-expanded="false", aria-controls= standard.indicatorId.replace(/\./g,"/"))
              h2.panel-title(class=standard.targetMet ? 'text-success' : 'text-danger')
                =standard.display
                  i.material-icons keyboard_arrow_down
          .panel-collapse.collapse(role="tabpanel", aria-labelledby="heading-" + standard.indicatorId.replace(/\./g,'-'), id= standard.indicatorId.replace(/\./g,'-'))
            .panel-body
              .row 
                .col-md-12
                  !=standard.indicatorDescription
                  br
                  strong= "Reason for this patient " + (standard.targetMet ? "meet" : "miss") + "ing the target"
                  br
                  !=standard.why
              .row
                .col-md-6
                  //runs but doesn't redraw?!?!
                  if (standard.indicatorId === indicatorId && standards.filter(function(v){return !v.targetMet;}).length > 1)
                    a.btn.btn-primary.btn-sm(id= "qi_"+standard.indicatorId.replace(/\./g,"_") href='/#patient/'+patientId data-toggle='tooltip' data-placement='top' data-html='true' title='<p>Has the target been met?</p><p>Green when there is</p><p>Red when there is not</p>') Showing actions for this indicator - click to show all
                  else if (!standard.targetMet && standards.filter(function(v){return !v.targetMet;}).length == 1)
                    //span Currently showing actions for this indicator
                    a.btn.btn-primary.btn-sm(id= "qi_"+standard.indicatorId.replace(/\./g,"_") href='/#patient/'+patientId data-toggle='tooltip' data-placement='top' data-html='true' title='<p>Has the target been met?</p><p>Green when there is</p><p>Red when there is not</p>') Showing actions for this indicator - click to show all                  
                  else if(!standard.targetMet)
                    a.btn.btn-info.btn-sm(id= "qi_"+standard.indicatorId.replace(/\./g,"_") href='/#patient/'+patientId+'/'+standard.indicatorId.replace(/\./g,"/")) Show actions for this indicator only  
                  else
                .col-md-offset-4.col-md-1                  
                  i.material-icons stars
                .col-md-1
                  i.material-icons lightbulb_outline
