.panel.panel-default
  table.table.table-condensed
    thead
      tr
        th Quality indicator
        th Target met?
        th Reason
        th Filter actions
    tbody
      each standard in standards
        tr(class=standard.targetMet ? 'success' : 'danger')
          td= standard.display
          td
            if standard.targetMet
              i.fa.fa-check.text-success
            else
              i.fa.fa-times.text-danger
          td!= standard.why
          td
            if standard.indicatorId === indicatorId
              span Currently showing actions for this indicator 
              a.btn.btn-warning(href='/#patient/'+patientId) Show actions for all indicators
            else 
              if !standard.targetMet
                a.btn.btn-info(href='/#patient/'+patientId+'/'+standard.indicatorId.replace(/\./g,"/")) Show actions for this indicator only
