.card
  .card-header
    h4.card-title Quality Indicators
  .card-content
    #accordion.panel-group(role="tablist", aria-multiselectable="true")
      .panel.panel-default
        each standard in standards
          div.test
          .panel-heading(id="heading-" + standard.indicatorId.replace(/\./g,'-'), role="tab")
            a(role="button", data-toggle="collapse", data-parent="#accordion", href="#" + standard.indicatorId.replace(/\./g,'-'), aria-expanded="false", aria-controls= standard.indicatorId.replace(/\./g,"/"))
              h2.panel-title(class=standard.targetMet ? 'text-success' : 'text-danger')
                =standard.display
                  i.material-icons keyboard_arrow_down
          .panel-collapse.collapse(role="tabpanel", aria-labelledby="heading-" + standard.indicatorId.replace(/\./g,'-'), id= standard.indicatorId.replace(/\./g,'-'))
            .panel-body
              div
                !=standard.indicatorDescription
                br
                strong= "Reason for this patient " + (standard.targetMet ? "meet" : "miss") + "ing the target"
                br
                !=standard.why
              div
              if (standard.indicatorId === indicatorId && standards.filter(function(v){return !v.targetMet;}).length > 1)
                a.btn.btn-primary.btn-sm(href='/#patient/'+patientId) Showing actions for this indicator - click to show all
              else if (!standard.targetMet && standards.filter(function(v){return !v.targetMet;}).length === 1)
                span Currently showing actions for this indicator 
              else 
                if !standard.targetMet
                  a.btn.btn-info.btn-sm(href='/#patient/'+patientId+'/'+standard.indicatorId.replace(/\./g,"/")) Show actions for this indicator only       
