.card
  .card-header.card-header-icon(data-background-color="orange")
    i.material-icons assistant
  .card-content
    h4.card-title Suggested Actions
    small.category= title
    .row
      #tab-plan-team.panel.panel-default.panel-body
        #advice-placeholder
          | Select an indicator from the indicator panel to view advice
        #advice-list
        #personalPlanTeam
//include mixins/edit-plan-modal
//include mixins/delete-plan-modal
