.affix.panel.panel-default
  .clearfix.panel-heading!=title
  #tab-plan-team.panel-body.fit-to-screen-height
    #advice-placeholder
      | Select an indicator from the indicator panel to view advice
    #advice-list
    #personalPlanTeam
include mixins/edit-plan-modal
include mixins/delete-plan-modal
