.card
  .card-header.card-header-icon(data-background-color="purple")
    i.material-icons assistant
  .card-content
    h4.card-title Suggested Actions
    small.category= title
    .row
      #tab-plan-team.panel.panel-default.panel-body
        //- #advice-placeholder
        //-   | Select an indicator from the indicator panel to view advice
        #advice-list
        #personalPlanTeam
//include mixins/edit-plan-modal
//include mixins/delete-plan-modal

//BG-TODO user added plans in separate panel so always visible on screen
// also consider renaming panels inline with below
//=======
//.panel.panel-default(style='margin-bottom:10px'
//-   .clearfix.panel-heading!=title
//-   #team-action-panel.panel-body(style='padding:0')
//-     #advice-list(style='overflow-y:auto')
//- .panel.panel-default(style='margin-bottom:5px')
//-   #user-action-panel.panel-body
//-     #personalPlanTeam(style='overflow-y:auto')
//- include mixins/edit-plan-modal
//- include mixins/delete-plan-modal
//- >>>>>>> dev
