include ../partials/head.jade
include ../mixins/toolbar.jade
.container-narrow.starter-template-high
  +toolbar('Change your password', [{btn:'btn-info',path:'/',text:'Back to PINGR'}])
  if message && message.error
    .alert.alert-danger.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.error
  if message && message.success
    .alert.alert-success.alert-dismissible.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.success
  form(action='/changepassword', method='post')
    label(for='oldpassword') Current password:
    input.form-control(type='password', name='oldpassword', required='', autofocus='')
    label(for='newpassword') New password:
    input.form-control(type='password', name='newpassword', required='', autofocus='')
    label(for='confirmpassword') Confirm new password:
    input.form-control(type='password', name='confirmpassword', required='', autofocus='')
    button.btn.btn-purple.btn-block.history(type='submit')
      | Update 
      span.fa.fa-arrow-circle-right
include ../partials/footerWithTracking.jade