include ../partials/head.jade
include ../partials/header.jade
#help-page.starter-template.page
  .container-fluid
    h2 Coming Soon!
#contact-page.starter-template.page
  .container-fluid
    h2 Contact us
    p For all queries please contact Ben Brown:
    ul.fa-ul
      li
        i.fa-li.fa.fa-phone
        |  07751 092038
      li
        i.fa-li.fa.fa-envelope
        |  benjamin.brown@manchester.ac.uk
// INDICATOR PAGE
#main-dashboard.starter-template.page
  .tab-content
    #title-row.title-row
      span#title-left
      span#title-right.pull-right
      //div this is where the summary will sit.
    .panel.panel-default.tab-pane.tabs-up.active
      .container-fluid(style='padding-left: 30px;')
        .row(style='padding-top: 10px')
          #left-panel.col-xl-4.col-lg-4
          #right-panel.col-xl-8.col-lg-8
          #centre-panel.col-lg-12
  #stateMaintainence(style='display: None;')
    #stateM-overview
    #stateM-indicator
    #stateM-patient
  #saved-message.flyover.tooltip-inner-saved
    h1 Saved! 
#modal
footer.container-fluid.footer.pull-right
  nav.navbar.navbar-default.navbar-fixed-bottom
    .container
      ul.nav.navbar-nav
        li
          img.img-responsive(alt='...', width='160', height='42', src='images/icons/wellcome-160px.png')
        li
          img.img-responsive(alt='...', width='160', height='46', src='images/icons/farr-logo-160px.png')
        li
          img.img-responsive(alt='...', width='160', height='68', src='images/icons/uom-logo-160px.png')
        li
          img.img-responsive(alt='...', width='160', height='43', src='images/icons/herc-logo-160px.png')
#temp-hidden(style='display:none')
include ../partials/footer.jade
