include ../partials/head.jade
body
  div.wrapper.wrapper-full-page
    div.full-page.login-page(filter-color="black" data-image="../../assets/img/login.jpeg")
      //you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose "
      div.content
        div.container
          div.row
            div.col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
              form(action='/login', method='post', id='login')
                div.card.card-login.card-hidden
                  div.card-header.text-center(data-background-color="green")
                    img(alt='...', src='images/icons/pingr_clip_drk_r_512.png', style='display: block; width: 50%; margin-left: auto; margin-right: auto')
                    h3.card-title 
                      strong
                        | The Performance 
                        | Improvement
                        | plaN 
                        | GeneratoR (PINGR)
                    div.social-line
                      //a.btn.btn-just-icon.btn-simple(href="#btn")
                        //i.fa.fa-facebook-square
                      //a.btn.btn-just-icon.btn-simple(href="#pablo")
                        //i.fa.fa-twitter
                      //a.btn.btn-just-icon.btn-simple(href="#eugen")
                        //i.fa.fa-google-plus
                      h5.category.text-center PINGR is here to help you spot hidden patterns amongst your patients
                  div.card-content
                    div#inpEmail.input-group
                      span.input-group-addon
                        i.material-icons email
                      div.form-group.label-floating
                        label.control-label Email address
                        input.form-control(type='text', name='username', required='', autofocus='')
                    div.input-group
                      span.input-group-addon
                        i.material-icons lock_outline
                      div.form-group.label-floating
                        label.control-label Password
                        input.form-control(type='password', name='password', required='')
                    div.input-group
                      span.input-group-addon
                        a.btn.btn-rose.btn-simple.btn-sl.pull-left(href='/forgot') Forgot password 
                        a.btn.btn-rose.btn-simple.btn-sl.pull-right(href='/register') Register
                  div.footer.text-center
                    script document.write('<input type="hidden" name="hash" value="'+(document.location.href.split("#")[1] || '')+'"/>');
                    button#signin.btn.btn-rose.btn-simple.btn-wd.btn-lg(type='submit') Let's go!
      footer.footer
        div.container
          nav.pull-left
            ul
              li
                a(href="https://www.herc.ac.uk/") HeRC
              li
                a(href="http://www.farrinstitute.org/") FARR
              li
                a(href="https://wellcome.ac.uk/") Wellcome
          p.copyright.pull-right &copy
            script.
              document.write(new Date().getFullYear() + " HeRC // University of Manchester: #dataSavesLives")

 
  script.
      $().ready(function() {

          $page = $('.full-page');
          //update image location
          //image_src = $page.data('image');
          image_src = '../../img/login.jpeg';

          if(image_src !== undefined){
              image_container = '<div class="full-page-background" style="background-image: url(' + image_src + ') "/>'
              $page.append(image_container);
          }

          setTimeout(function() {
              // after 1000 ms we add the class animated to the login/register card
              $('.card').removeClass('card-hidden');
          }, 700)
      });
    
