<!--[if lte IE 9]><div class="unsuppotedIE hidden"></div><![endif]-->
include ../partials/head.jade
#login.page.login-page
  .container.login-container
    .login-panel.panel.panel-default.plain.animated.bounceIn
      .panel-body
        img(alt='...', width='200', height='200', src='images/icons/PINGR_logo-250px.png', style='display: block; margin-left: auto;margin-right: auto')
        h2(style='text-align: center;')
          | The Performance
          br
          |  Improvement plaN
          br
          |  GeneratoR (PINGR)
        p(style='font-size: 1.5em;font-style: italic;text-align: center')
          | Improvement actions
          br
          | for GP practices  
          if message && message.error
            .alert.alert-danger.alert-dismissible.fade-in(role="alert")
              button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") ×
              p= message.error
        div#lock-hook
          br
          form(action='/login', method='post')
            .form-group.input-group
              span.input-group-addon
                i.fa.fa-envelope
              input#inpEmail.form-control(type='text', name='username', placeholder='Email address', required='', autofocus='')
            .form-group.input-group
              span.input-group-addon
                i.fa.fa-key
              input.form-control.nomargin(type='password', name='password', placeholder='Password', required='')
            .form-group
              a.small(href='/auth/reset') Forgot password 
              a.small.pull-right(href='/register') Register
            script document.write('<input type="hidden" name="hash" value="'+(document.location.href.split("#")[1] || '')+'"/>');
            button#signin.btn.btn-purple.btn-block.history(type='submit')
              // href="#overview">
              | Sign in 
              span.fa.fa-arrow-circle-right
        
        div#alt-suggestion
          h2.text-center.text-danger Wait a minute! 
          p I'm afraid we don't support your browser. 

          p To use this webtool we recommend either Chrome or Firefox, either of which can be downloaded for free with these buttons!
          div
            a.chrome-button.btn.btn-info.btn-block.btn-lg(href='https://www.google.co.uk/chrome/') Go get Chrome
          br
          div
            a.firefox-button.btn.btn-warning.btn-block.btn-lg(href='https://www.mozilla.org/en-GB/firefox/new/')
script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="js/jquery/jquery-1.12.4.min.js"><\/script>')
script(src='libraries.js')
script(src='login.js')
script.
  require("login").init();
