include ../partials/head.jade
include ../mixins/email-preferences.jade
.container-wide.starter-template-high(style="background-color: white")
  .btn-toolbar
    a.btn.btn-info(href='/') Back to PINGR
  h1(style="color:#333") Reminder emails
  if message && message.error
    .alert.alert-danger.alert-dismissible.alert-autoclose.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.error
  if message && message.success
    .alert.alert-success.alert-dismissible.alert-autoclose.fade-in(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") ×
      p= message.success
  p 
    | PINGR can send you emails to highlight patients that may need reviewing. 
    a#sampleEmail(href='#',data-toggle="modal" data-target="#myModal") View an example email based on your selections below by clicking here (you'll need to save your changes first).
  hr
  form#emailPrefs(action='/emailpreference', method='post')
    +email-prefs("Save", true, false)

// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-lg.modal-dialog-top.modal-fit(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Example email
      .modal-body
        #modalLoader
          i.fa.fa-square.fa-spin 
          |  Loading email...
        #modalContent
include ../partials/footerWithTracking.jade
