include ../partials/head.jade
include ../mixins/toolbar.jade
include ../mixins/password-field.jade
.container-wide.starter-template-high(style="background-color: white")
  +toolbar('Reset user\'s password', [{btn:'btn-info',path:'../admin',text:'Back to user list'}])
  form(method='post')
    +password(true)
    button.btn.btn-purple.btn-block.history(type='submit') Update
  if message && message.success
    h1= message.success
  if message && message.error
    h1= message.error
