include ../partials/head.jade
a.btn.btn-info(href='/admin') Back to user list
form(action='/delete/'+email, method='post')
  = 'Are you sure you want to delete ' + email
  button.btn.btn-danger(type='submit') Delete
  a.btn.btn-default(href='/admin') Cancel
