include ../partials/head.jade
.container.starter-template-high
  .btn-toolbar
    a.btn.btn-info(href='../admin') Back to user list
  - if(message && message.error)
    div.alert.alert-danger(role="alert")= message.error
  - if(message && message.success)
    div.alert.alert-success(role="alert")= message.success
