include ../partials/head.jade
include ../mixins/email-preferences.jade
include ../mixins/user-details.jade
.container-wide.starter-template-high(style="background-color: white")
  a.btn.btn-info(href='/admin') Back to user list
  h1(style="color:#333") Edit user
  form(action='/edit/'+user.email, method='post')
    +user-details("Update", false, true)
    +email-prefs("Update", true, false, true) 
    - if(message && message.error)
      div.alert.alert-danger(role="alert")= message.error
include ../partials/jquery-bootstrap-select.jade